body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  margin: 0;
}

#body {
  background-image: url(../img/fon.png);
  background-color: #00000044;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.main {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.formsleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  width: 70%;
  height: 100%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right {
  width: 25%;
  height: 100%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 2.5vh;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 1px 1px 2px #ffc400;
  border: 3px solid #ffc400;
  -webkit-box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400;
          box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400;
}

.form h1 {
  letter-spacing: 0.4vh;
}

.vip {
  border-color: #acacac;
  -webkit-box-shadow: 0 0 10px #acacac, inset 0 0 10px #acacac;
          box-shadow: 0 0 10px #acacac, inset 0 0 10px #acacac;
  text-shadow: 1px 1px 2px #acacac;
}

.deluxe {
  border-color: #77c2ff;
  -webkit-box-shadow: 0 0 10px #77c2ff, inset 0 0 10px #77c2ff;
          box-shadow: 0 0 10px #77c2ff, inset 0 0 10px #77c2ff;
  text-shadow: 1px 1px 2px #77c2ff;
  height: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.imgform {
  width: 10vw;
  margin-top: auto;
  position: relative;
  top: 2vh;
  left: 6vw;
}

.imgform img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=donate.css.map */