<!DOCTYPE html>
<html lang="ru" class="transparent-bg-4">
<link rel="stylesheet" href="auth.css">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <!-- <script>
        const re = /[^A-Z-a-z-0-9]/g;
        console.log(`${!re.test("!")}, ${!re.test("123")}`);
    </script> -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap" rel="stylesheet">
</head>

<!-- <body onload="fOnLoad()" id="fade"> -->

<body id="fade" onload="load()">
    <div id="auth">
        <div id="auth1" v-show="tab == 0">
            <b id="particles-js"></b>
            <span class="forms login" v-show="page == 0">
                <form action="#">
                    <h1>Авторизация</h1>
                    <span>Используйте ваш аккаунт</span>
                    <div class="input-div">
                        <input type="text" name="email" autocomplete="off" required spellcheck="false"
                            v-model="enteredLoginMail">
                        <label for="email" class="label-name">
                            <span class="content-name">
                                E-mail
                            </span>
                        </label>
                    </div>
                    <div class="input-div">
                        <input type="password" name="pass" autocomplete="off" required spellcheck="false"
                            v-model="enteredLoginPass">
                        <label for="email" class="label-name">
                            <span class="content-name">
                                Пароль
                            </span>
                        </label>
                    </div>
                    <a v-on:click="page = 3" id="forgotpass">Забыли пароль?</a>
                    <!-- <div class="checkbox" id="autologin">
                        <input type="checkbox" id="checkbox" v-model="autologin">
                        <label for="checkbox">Включить автологин</label>
                    </div> -->
                    <button v-on:click="sumbitData(0)" :disabled="!verifyAuth" type="button">Авторизоваться</button>
                </form>
            </span>
            <span class="forms reg step1">
                <form action="" v-if="page == 1">
                    <h1>Регистрация</h1>
                    <span>Используйте ваш E-mail и пароль</span>
                    <div class="input-div" :class="{ error: (enteredMail && !isEmailValid) }">
                        <input type="text" name="emailreg" autocomplete="off" required spellcheck="false"
                            v-model="enteredMail"
                            :class="{ checked: (enteredMail && isEmailValid), error: (enteredMail && !isEmailValid) }">
                        <label for="emailreg" class="label-name">
                            <span class="content-name">
                                E-mail
                            </span>
                        </label>
                        <!-- <span v-show="enteredMail && !isEmailValid">Неправильный E-mail</span> -->
                    </div>
                    <div class="input-div"
                        :class="{ checked: passChecked, error: (enteredPass1 && !isPassword1Valid) }">
                        <input type="password" name="passreg" autocomplete="off" required spellcheck="false"
                            v-model="enteredPass1"
                            :class="{ checked: passChecked, error: (enteredPass1 && !isPassword1Valid) }"
                            @input="verifyPass">
                        <label for="passreg" class="label-name">
                            <span class="content-name">
                                Придумайте пароль
                            </span>
                        </label>
                        <!-- <span v-show="enteredPass1 && !isPassword1Valid">Пароль содержит запрещающие символы</span> -->
                    </div>
                    <div class="input-div"
                        :class="{ checked: passChecked, error: (enteredPass2 && !isPassword2Valid) }">
                        <input type="password" name="passreg2" autocomplete="off" required spellcheck="false"
                            v-model="enteredPass2" @input="verifyPass"
                            :class="{ checked: passChecked, error: (enteredPass2 && !isPassword2Valid) }">
                        <label for="passreg2" class="label-name">
                            <span class="content-name">
                                Повторите пароль
                            </span>
                        </label>
                        <!-- <span v-show="enteredPass2 && !isPassword2Valid">Пароль содержит запрещающие символы</span> -->
                    </div>
                    <button v-on:click="page = 2" :disabled="!verifyStep" type="button"
                        id="btnreg">Зарегистрироваться</button>
                </form>
                <form action="" v-if="page === 3">
                    <h1>Восстановление пароля</h1>
                    <span>Введите E-Mail от аккаунта</span>
                    <div class="input-div">
                        <input type="text" name="RecEmail" autocomplete="off" required spellcheck="false"
                            v-model="enteredLoginMail"
                            :class="{ checked: (enteredLoginMail && verifyForgotStep), error: (enteredLoginMail && !verifyForgotStep) }">
                        <label for="RecEmail" class="label-name">
                            <span class="content-name">
                                E-Mail
                            </span>
                        </label>
                    </div>
                    <button v-on:click="sumbitData(1)" :disabled="!verifyForgotStep" type="button">Восстановить</button>
                </form>
            </span>
            <span class="forms reg step2" v-if="page === 2">
                <form action="#">
                    <h1>Как будут звать вашего персонажа?</h1>
                    <div class="input-div" :class="{ error: (enteredName && !isNameValid) }">
                        <input type="text" name="name" autocomplete="off" required spellcheck="false"
                            v-model="enteredName"
                            :class="{ checked: (enteredName && isNameValid), error: (enteredName && !isNameValid) }">
                        <label for="NamePerson" class="label-name">
                            <span class="content-name">
                                Имя
                            </span>
                        </label>
                    </div>
                    <p style="color: white">Длина игрового имени должна быть больше трех символов</p>
                    <div class="checkbox" id="agreebox">
                        <input type="checkbox" id="checkbox" v-model="agree">
                        <label for="checkbox">Вы согласны с правилами проекта?</label>
                    </div>
                    <!-- <p>Пол:</p>
                    <input type="radio" id="man" value="man" v-model="enteredFloor">
                    <label for="man">Мужской</label>
                    <br>
                    <input type="radio" id="woman" value="woman" v-model="enteredFloor">
                    <label for="woman">Женский</label> -->
                    <button v-on:click="sumbitData(2)" :disabled="!verifySecondStep" type="button">Продолжить</button>
                </form>
                <!-- <div class="character">
                    <div class="center">
                        <input type="checkbox">
                    </div>
                </div> -->
            </span>
            <span class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left" v-show="page == 1 || page == 2 || page == 3">
                        <h1>Вернуться к авторизации</h1>
                        <p>У вас уже есть аккаунт? <br> В таком случае вернитесь!</p>
                        <button class="ghost" id="login" v-on:click="page = 0" type="button">Авторизация</button>
                    </div>
                    <div class="overlay-panel overlay-right" v-show="page == 0">
                        <h1>Добро пожаловать!</h1>
                        <p>Нет аккаунта? <br> Самое время его создать!</p>
                        <button class="ghost" id="register" v-on:click="page = 1" type="button">Регистрация</button>
                        <ul class="social">
                            <li id="ru" class="button_lang current_lang">.</li>
                            <li id="en" class="button_lang">.</li>
                        </ul>
                    </div>
                </div>
            </span>
        </div>
    </div>
</body>

</html>
<script src="../vue.js"></script>
<script src="auth.js"></script>
<script src="particles.min.js"></script>
<script>
    function load() {
        if ('alt' in window) {
            alt.emit('emitToServer', 'sAuth:Ready');
        }
    }

    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 55
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                }
            },
            "opacity": {
                "value": 1,
                "random": true
            },
            "size": {
                "value": 1.5,
                "random": true
            },
            "line_linked": {
                "enable": true,
            },
            "move": {
                "enable": true,
                "speed": 2.5,
                "direction": "none",
                "random": true,
                "straight": false,
                "out_mode": "out",
                "bounce": true,
                "rotateY": 1200,
                "rotateX": 600,
            },
        }
    });
</script>