<!DOCTYPE html>
<html lang="ru" class="transparent-bg-4">
<link rel="stylesheet" href="auth.css">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <!-- <script>
        const re = /[^A-Z-a-z-0-9]/g;
        console.log(`${!re.test("!")}, ${!re.test("123")}`);
    </script> -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap" rel="stylesheet">
</head>

<!-- <body onload="fOnLoad()" id="fade"> -->

<body id="fade" onload="load()">
    <div id="auth">
        <div id="auth1" v-show="tab == 0">
            <b id="particles-js"></b>
            <span class="forms login" v-show="page === 0">
                <form action="#">
                    <h1>{{lang === 'ru' ? "Авторизация" : "Authorization"}}</h1>
                    <span>{{lang === 'ru' ? "Используйте ваш аккаунт" : "Use your account"}}</span>
                    <div class="input-div">
                        <input type="text" name="email" autocomplete="off" required spellcheck="false"
                            onkeyup="this.value=this.value.replace(/\s+/gi,'')" v-model="enteredLoginMail">
                        <label for="email" class="label-name">
                            <span class="content-name">E-mail</span>
                        </label>
                    </div>
                    <div class="input-div">
                        <input type="password" name="pass" autocomplete="off" required spellcheck="false"
                            onkeyup="this.value=this.value.replace(/\s+/gi,'')" v-model="enteredLoginPass">
                        <label for="email" class="label-name">
                            <span class="content-name">{{lang === 'ru' ? "Пароль" : "Password"}}</span> 
                        </label>
                    </div>
                    <div style="display: flex; justify-content: center; margin: 15px 0; align-items: center; flex-direction: column;">
                        <div>
                            <a id="forgotpass"
                            v-on:click="page = 3">{{lang === 'ru' ? "Забыли пароль?" : "Forgot your password?"}}</a>
                        </div>
                        <div class="checkbox" style="padding-top: 2vh; padding-right: 1vw;">
                            <input id="checkbox" type="checkbox" v-model="autoLogin">
                            <label for="checkbox">{{lang === 'ru' ? "Автоматический вход" : "Automatic login"}}</label>
                        </div>
                    </div>
                    <button :disabled="!verifyAuth" type="button"
                        v-on:click="sumbitData(0)">{{lang === 'ru' ? "Авторизоваться" : "Log in"}}</button>
                </form>
            </span>
            <span class="forms reg step1">
                <form action="" v-if="page === 1">
                    <h1>{{lang === 'ru' ? "Регистрация" : "Registration"}}</h1>
                    <span>{{lang === 'ru' ? "Используйте ваш E-mail и пароль" : "Use your E-mail and password"}}</span>
                    <div class="input-div" :class="{ error: (enteredMail && !isEmailValid) }">
                        <input type="text" name="emailreg" autocomplete="off" required spellcheck="false"
                            onkeyup="this.value=this.value.replace(/\s+/gi,'')" v-model="enteredMail"
                            :class="{ checked: (enteredMail && isEmailValid), error: (enteredMail && !isEmailValid) }">
                        <label for="emailreg" class="label-name">
                            <span class="content-name" v-if="enteredMail && !isEmailValid">{{lang === 'ru' ? "E-mail содержит запрещающие символы" : "The e-mail contains forbidding characters"}}</span>
                            <span class="content-name" v-else>E-mail</span>
                        </label>
                    </div>
                    <div class="input-div"
                        :class="{ checked: passChecked, error: (enteredPass1 && !isPassword1Valid), warning: (enteredPass1 && enteredPass1.length < 4 && isPassword1Valid) }">
                        <input type="password" name="passreg" autocomplete="off" required spellcheck="false"
                            onkeyup="this.value=this.value.replace(/\s+/gi,'')" v-model="enteredPass1"
                            :class="{ checked: passChecked, error: (enteredPass1 && !isPassword1Valid),  warning: (enteredPass1 && enteredPass1.length < 4 && isPassword1Valid) }"
                            @input="verifyPass">
                        <label for="passreg" class="label-name">
                            <span class="content-name" v-if="enteredPass1 && !isPassword1Valid">{{lang === 'ru' ? "Пароль содержит запрещающие символы" : "The password contains forbidding characters"}}</span>
                            <section v-else>
                                <span class="content-name" v-if="enteredPass1 && enteredPass1.length < 4">{{lang === 'ru' ? "Пароль должен быть больше трех символов" : "The password must be longer"}}</span>
                                <span class="content-name" v-else>{{lang === 'ru' ? "Придумайте пароль" : "Come up with a password"}}</span>
                            </section>
                        </label> 
                    </div>
                    <div class="input-div"
                        :class="{ checked: passChecked, error: (enteredPass2 && !isPassword2Valid), warning: (enteredPass2 && enteredPass2.length < 4 && isPassword2Valid) }">
                        <input type="password" name="passreg2" autocomplete="off" required spellcheck="false"
                            @input="verifyPass" onkeyup="this.value=this.value.replace(/\s+/gi,'')" v-model="enteredPass2"
                            :class="{ checked: passChecked, error: (enteredPass2 && !isPassword2Valid),  warning: (enteredPass2 && enteredPass2.length < 4 && isPassword2Valid) }">
                        <label for="passreg2" class="label-name">
                            <span class="content-name" v-if="enteredPass2 && !isPassword2Valid">{{lang === 'ru' ? "Пароль содержит запрещающие символы" : "The password contains forbidding characters"}}</span>
                            <span class="content-name" v-else>{{lang === 'ru' ? "Повторите пароль" : "Repeat the password"}}</span>
                        </label>
                    </div>
                    <button :disabled="!verifyStep" id="btnreg" type="button"
                        v-on:click="page = 2">{{lang === 'ru' ? "Зарегистрироваться" : "Register"}}</button>
                </form>
                <form action="" v-if="page === 3">
                    <h1>{{lang === 'ru' ? "Восстановление пароля" : "Password Recovery"}}</h1>
                    <span>{{lang === 'ru' ? "Введите E-Mail от аккаунта" : "Enter the E-Mail from the account"}}</span>
                    <div class="input-div">
                        <input type="text" name="RecEmail" autocomplete="off" required spellcheck="false"
                            onkeyup="this.value=this.value.replace(/\s+/gi,'')" v-model="enteredLoginMail"
                            :class="{ checked: (enteredLoginMail && verifyForgotStep), error: (enteredLoginMail && !verifyForgotStep) }">
                        <label for="RecEmail" class="label-name">
                            <span class="content-name">
                                E-Mail
                            </span>
                        </label>
                    </div>
                    <button :disabled="!verifyForgotStep" type="button"
                        v-on:click="sumbitData(1)">{{lang === 'ru' ? "Восстановить" : "Recover"}}</button>
                </form>
            </span>
            <span class="forms reg step2" v-if="page === 2">
                <form action="#">
                    <h1>{{lang === 'ru' ? "Как будут звать вашего персонажа?" : "What will your character's name be?"}}
                    </h1>
                    <div :class="{ error: (enteredName && !isNameValid), warning: (enteredName && enteredName.length < 4 && isNameValid) }" class="input-div">
                        <input type="text" name="name" autocomplete="off" required spellcheck="false"
                            onkeyup="this.value=this.value.replace(/\s+/gi,'')" v-model="enteredName"
                            :class="{ checked: (enteredName && isNameValid), error: (enteredName && !isNameValid), warning: (enteredName && enteredName.length < 4 && isNameValid) }">
                        <label for="NamePerson" class="label-name">
                            <span class="content-name" v-if="enteredName && !isNameValid">{{lang === 'ru' ? "Имя содержит запрещающие символы" : "The name contains forbidding characters"}}</span>
                            <section v-else>
                                <span class="content-name" v-if="enteredName && enteredName.length < 4">{{lang === 'ru' ? "Имя должно быть больше трех символов" : "The name must be longer"}}</span>
                                <span class="content-name" v-else>{{lang === 'ru' ? "Имя" : "Name"}}</span>
                            </section>
                        </label>
                    </div>
                    <div style="display: flex; justify-content: center; margin: 15px 0; align-items: center; flex-direction: column;">
                        <div class="checkbox" style="padding-top: 2vh; padding-right: 1vw;">
                            <input id="agree" type="checkbox" v-model="agree">
                            <label for="agree">{{lang === 'ru' ? "Вы согласны с правилами проекта?" : "Do you agree with the project rules?"}}</label>
                        </div>
                    </div>
                    <!-- <p>Пол:</p>
                    <input type="radio" id="man" value="man" v-model="enteredFloor">
                    <label for="man">Мужской</label>
                    <br>
                    <input type="radio" id="woman" value="woman" v-model="enteredFloor">
                    <label for="woman">Женский</label> -->
                    <button :disabled="!verifySecondStep" type="button"
                        v-on:click="sumbitData(2)">{{lang === 'ru' ? "Продолжить" : "Continue"}}</button>
                </form>
                <!-- <div class="character">
                    <div class="center">
                        <input type="checkbox">
                    </div>
                </div> -->
            </span>
            <span class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left" v-show="page == 1 || page == 2 || page == 3">
                        <h1>{{lang === 'ru' ? "Вернуться к авторизации" : "Go back to authorization"}}</h1>
                        <p>{{lang === 'ru' ? "У вас уже есть аккаунт?" : "Do you already have an account?"}} <br>
                            {{lang === 'ru' ? "В таком случае вернитесь!" : "In that case, come back!"}}</p>
                        <button class="ghost" id="login" type="button"
                            v-on:click="page = 0">{{lang === 'ru' ? "Авторизация" : "Authorization"}}</button>
                    </div>
                    <div class="overlay-panel overlay-right" v-show="page == 0">
                        <h1>{{lang === 'ru' ? "Добро пожаловать!" : "Welcome!"}}</h1>
                        <p>{{lang === 'ru' ? "Нет аккаунта?" : "No account?"}}
                            <br>{{lang === 'ru' ? "Самое время его создать!" : "It's time to create it!"}}</p>
                        <button class="ghost" id="register" type="button"
                            v-on:click="page = 1">{{lang === 'ru' ? "Регистрация" : "Registration"}}</button>
                        <div class="social">
                            <div class="ru">
                                <div :class="{currentLang: lang === 'en'}" class="imgform" v-on:click="lang = 'ru'">
                                    <img alt="" src=".././menu/img/ru.png">
                                </div>
                            </div>
                            <div class="en">
                                <div :class="{currentLang: lang === 'ru'}" class="imgform" v-on:click="lang = 'en'">
                                    <img alt="" src=".././menu/img/en.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div> 
    </div>
</body>

</html>
<script src="../vue.js"></script>
<script src="auth.js"></script>
<script src="particles.min.js"></script>
<script>
    function load() {
        if ('alt' in window) {
            alt.emit('emitToClient', 'cAuth:Ready');
        }
    }

    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 55
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                }
            },
            "opacity": {
                "value": 1,
                "random": true
            },
            "size": {
                "value": 1.5,
                "random": true
            },
            "line_linked": {
                "enable": true,
            },
            "move": {
                "enable": true,
                "speed": 2.5,
                "direction": "none",
                "random": true,
                "straight": false,
                "out_mode": "out",
                "bounce": true,
                "rotateY": 1200,
                "rotateX": 600,
            },
        }
    });
</script>