// *
//     cursor: none
//     user-select: none

@font-face
    font-family: 'fontPrice'
    src: url('../fonts/price.ttf')

body
    cursor: none 
    user-select: none
    padding: 0
    margin: 0

#body
    // background-image: url(../img/fon.png)
    background-color: #00000044
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    width: 100vw

#fade
    opacity: 0

h1
    color: white

html
    overflow: hidden
.main
    width: 90vw
    height: 90vh
    display: flex
    flex-direction: column
    // border: 3px solid red
    position: absolute
    left: 50%
    top: 10%
    transform: translate(-50%, -50%)

.upper
    width: 90vw
    height: auto
    // border: 3px solid #000000
    display: flex
    flex-direction: row
    align-items: center
    // align-content: center
    justify-content: space-between
    // background-color: red 

.maininfo
    display: flex
    // width: 18% 
    align-items: center
    font-size: 4vh
    color: #fff
    font-family: 'Roboto Condensed', sans-serif
    font-weight: 700
    // background-color: blue 

.maininfo div, .maininfo span
    padding-right: 1vw

.hr hr
    height: 5vh

.money
    display: flex
    flex-direction: column 
    align-content: center
    color: white

.balance
    font-size: 1.35vh
    color: #efefefea
    font-family: 'Oswald', sans-serif
    // height: 2.1vh

// .buttons
//     display: flex
//     justify-content: center
//     background-color: green
//     flex-basis: 50%

.buttons span
    padding: 0

.btns1
    display: flex
    flex-direction: row
    justify-content: flex-start
    font-family: 'Roboto Condensed', sans-serif
    font-size: 1.8vh

.btn:hover
    background: white
    color: #03001a
    transition: .2s ease-out
    // transition-delay: 0.5s

.btn
    color: white
    display: flex
    justify-content: center
    align-items: center
    padding: 1.5vh 2vw
    margin-right: 1vw
    border: 2px solid #e0e0e0
    border-radius: 35px
    transition: 0.2s ease-out

.warning
    // flex-basis: 25%
    color: white
    display: flex
    flex-direction: row
    // justify-content: center
    align-items: center
    // border: 2px solid #e0e0e0
    border-radius: 10px
    // padding: 1.5vh 2.2vw
    font-family: 'Roboto Condensed', sans-serif
    font-size: 2.2vh
    font-weight: 500
    transition: 0.2s ease-out
    margin-bottom: 1vh
    margin-right: 0.35vw

.warning span
    padding: 0

.warning1
    font-family: 'Rubik', sans-serif
    font-weight: normal

.down
    width: 90vw
    height: 85%
    // border: 3px solid #000000
    display: flex
    flex-direction: row
    justify-content: space-between

.left
    height: 100%
    flex-basis: 72%
    // width: 67vw
    // border: 3px solid red
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: all 1s

.upleft
    // border: 3px solid #000000
    width: 64.4vw
    height: 45vh
    display: flex
    flex-direction: row
    justify-content: space-between
    transition: all 1s

.stack
    flex-basis: 37%
    height: 45.5vh
    display: flex
    flex-direction: column
    justify-content: space-between
    // border: 1px solid red
    // background-color: red

.form
    border-radius: 5px
    border: 3px solid #ffc400
    box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400
    transition: .3s ease-out
    text-shadow: 1px 1px 2px #0000007e

.form:hover
    background-color: #ffc400
    text-shadow: none
    span
        color: black
    div
        color: black

.ticket
    width: 100%
    height: 21vh
    border-color: #5aa800
    box-shadow: 0 0 10px #5aa800, inset 0 0 10px #5aa800
    transition: .3s ease-out

.ticket:hover
    background-color: #5aa800

.ticketRed
    border-color: #f70303
    box-shadow: 0 0 10px #a80000, inset 0 0 10px #a80000

.ticketRed:hover
    background-color: #f70303

.shop
    width: 100%
    height: 21vh
    border-color: #8700c5
    box-shadow: 0 0 5px #9200d6, inset 0 0 5px #8f00d1
    transition: .2s ease-out

.shop:hover
    background-color: #8700c5

.downleft
    // border: 3px solid #000000
    width: 100%
    height: 28vh
    display: flex
    flex-direction: row
    justify-content: space-between

.form1
    height: 100%
    border: 3px solid #000000
    border-radius: 5px
    text-shadow: 1px 1px 2px #0000007e

.form1:hover
    color: black
    text-shadow: none

.noob
    width: 35%
    border-color: #c48f00
    box-shadow: 0 0 10px #c48f00, inset 0 0 10px #c48f00
    transition: .4s ease-out
    display: flex
    flex-direction: column

.noob:hover
    background-color: #ffd9008e
    border-color: #ffd900
    box-shadow: 0 0 15px #ffd900, inset 0 0 5px #ffd900
    transition: .4s ease-out
    span
        color: black

.noobpart1
    display: flex
    flex-direction: column
    align-items: flex-start
    // justify-content: space-between
    padding: 2.6vh 0 0 1.5vw
    flex-basis: 50%
    // border: 1px solid black
    // justify-content: flex-start

.noobpart2
    // border: 1px solid red
    display: flex
    justify-content: space-between
    flex-basis: 50%
    padding-left: 1.5vw
    // width: 100%

.iconnoob
    // display: flex
    // justify-content: flex-end
    // margin-top: auto
    position: relative
    top: 1.5vh
    img
        filter: drop-shadow(0px 0px 5px #000000d2)
        width: 12vw
        height: auto
        // margin-top: auto
        // transform: rotate(10deg)

.backpack
    width: 35%
    border-color: #b40803
    display: flex
    flex-direction: column
    color: white
    box-shadow: 0 0 10px #b40803, inset 0 0 10px #b40803
    transition: .2s ease-out

.backpack:hover
    background-color: #fc0c04

.noneBackGround:hover
    background-color: #ffffff00

.superHoverRed:hover
    color: #ffffff 
    background-color: #f80b0385
    border-color: #f80c03
    box-shadow: 0 0 15px #f80c03, inset 0 0 5px #f80c03
    transition: .4s ease-out

.rankContent
    display: flex
    justify-content: space-between
    height: 100%

.rankContent .content
    display: flex
    flex-direction: column
    flex-basis: content
    font-size: 0.8vw
    // background-color: red

.rankContent .img
    display: flex
    justify-content: center
    // flex-basis: 40%
    align-self: center
    align-content: center
    // position: relative
    // left: -1vw
    // top: -0.5vh
    // background-color: blue
    height: 7.5vw
    width: 8vw
    padding-right: 1vw
    img
        width: 100%
        height: 100%
        filter: drop-shadow(0 0 10px #000000)

.bptext
    margin-top: 2.6vh
    margin-left: 1.5vw
    font-family: 'Rubik', sans-serif
    // border: 1px solid black

.bpname
    font-family: 'Roboto Condensed', sans-serif
    font-size: 3.5vh

.bpstats
    display: flex
    flex-direction: row
    font-family: 'Roboto Condensed', sans-serif
    justify-content: space-between
    font-size: 1.3vw
    margin-left: 1.5vw
    margin-top: 4vh
    // background-color: blue
    // align-items: center

.bpstats1
    display: flex
    flex-direction: column

.bpscore
    font-size: 1.3vw
    font-family: 'Rubik', sans-serif

.kd, .matchs
    margin-top: 0.5vh

.bpmaininfo
    display: flex
    flex-direction: column
    justify-content: space-around

.virt
    width: 22%
    display: flex
    flex-direction: column
    color: white
    border-color: #0092be
    box-shadow: 0 0 5px #00c3ff, inset 0 0 5px #00ace0
    transition: .4s ease-out

.virtname
    margin-top: 2.2vh
    margin-left: 2vh
    font-family: 'Roboto Condensed', sans-serif
    font-size: 3.5vh

.virttext
    margin-top: 1vh
    margin-left: 2vh
    font-size: 1.4vh
    font-family: 'Rubik', sans-serif

.virt:hover
    background-color: #04c4ff9c
    border-color: #04c4ff
    box-shadow: 0 0 15px #04c4ff, inset 0 0 5px #04c4ff
    transition: .4s ease-out

.virticon
    display: flex
    justify-content: center
    position: relative
    margin-top: auto
    top: 3vh
    // border: 1px solid black
    // margin-top: 3.5vh
    // margin-left: -1vw
    img
        filter: drop-shadow(0px 0px 5px #000000d2)
        width: 15vw
        height: auto
        // transform: rotate(10deg)

.right
    margin-left: 3vw
    flex-basis: 25%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    text-shadow: 1px 1px 2px #0000007e
    // width: 20.8vw
    border: 3px solid #00df64
    border-radius: 5px
    box-shadow: 0 0 5px #00df64, inset 0 0 5px #00df64
    transition: .2s ease-out

.right:hover
    background-color: #00b150
    text-shadow: none
    span
        // background: white
        color: black

.rightNoHover
    display: flex
    flex-direction: column
    // align-items: center
    justify-content: space-between
    text-shadow: 1px 1px 2px #0000007e
    margin-left: 3vw
    flex-basis: 25%
    height: 100%
    // width: 20.5vw
    border: 3px solid #00df64
    border-radius: 5px
    box-shadow: 0 0 5px #00df64, inset 0 0 5px #00df64
    transition: .2s ease-out
    h1
        padding: 0
        margin: 0

.btnbackperson
    display: flex
    justify-content: space-around
    margin-bottom: 2vh
    // margin-bottom: 3vh
    height: 4.5vh
    min-height: 4.5vh
    max-height: 4.5vh
    // background-color: blue
    .minibtn
        padding-top: 0
        padding-bottom: 0

.btnbackperson2
    display: flex
    justify-content: space-around
    margin-bottom: 3vh
    height: 4.5vh
    .minibtn
        // padding: 0
        padding-top: 0
        padding-bottom: 0

.rightNoHover:hover
    background-color: #00b15000
    box-shadow: 0 0 15px #00df64, inset 0 0 5px #00df64

.btnbackperson2 .green
    border-color: rgb(0, 255, 0)

.btnbackperson2 .green:hover
    background-color: rgb(0, 255, 0)

.btnbackperson2 .red
    border-color: rgb(255, 0, 0)

.btnbackperson2 .red:hover
    background-color: rgb(255, 0, 0)
// BLOCK CAR

.car
    // width: 40vw
    flex-basis: 60%
    height: 100%

.carContent
    // background-color: red
    display: flex
    flex-direction: column
    margin-left: 5%
    margin-top: 5%

.textcar
    display: flex
    justify-content: space-between
    align-items: center
    align-content: center
    // background-color: green

.textcar1
    color: white
    font-weight: 700
    font-size: 5vh
    font-family: 'Roboto Condensed', sans-serif
    padding: 0
    line-height: 5vh
    // border: 1px solid black

.textcar2
    color: white
    font-size: 4.5vh
    font-family: 'Rubik', sans-serif
    font-weight: 100
    letter-spacing: -2px
    padding: 0

.textcar3
    font-family: 'Rubik', sans-serif
    position: relative
    font-size: 2.7vh
    letter-spacing: -1px
    margin-left: 3%
    bottom: 0.5vh
    color: #000000
    background-color: #fff
    padding-left: 1%
    padding-right: 1%
    border-radius: 5px
    text-shadow: none

.textcar4
    font-family: 'Rubik', sans-serif
    // position: absolute
    font-size: 1.5vh
    color: white
    padding-right: 1vw
    // border: 1px solid black

.donatimgform
    width: 7vw
    position: relative
    img
        width: 100%
        height: 100%

.iconcar
    position: relative
    top: 2vh
    // left: 1vw
    img
        // filter: drop-shadow(12px 12px 10px #00000080)
        height: 32vh
        width: 34vw

.textticket
    color: white
    position: relative
    top: 50%
    left: 50%
    width: 90%
    transform: translate(-50%, -50%)
    font-size: 4vh
    display: flex
    height: 13vh
    flex-direction: column
    // border: 1px solid black
    justify-content: space-between
    align-items: flex-start

.textticket1
    font-family: 'Roboto Condensed', sans-serif
    // display: block

.textticket2
    font-family: 'Rubik', sans-serif

.textticket3
    font-family: 'Rubik', sans-serif
    font-size: 1.3vw

.textticket4
    color: #00ff37
    font-size: 2.2vh

.textticketblock
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.textticket5
    font-family: 'Rubik', sans-serif
    font-size: 1.1vw

.textticket6
    color: #0db130

.iconticket
    position: relative
    bottom: 18vh
    left: 16.5vw
    width: 10.5vw
    height: 15vh
    // border: 1px solid black
    img
        width: calc( 7.5vw + 5.3vh )
        // width: 10.5vw
        height: auto

.textshop
    color: white
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    // align-items: center
    width: 90%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 4vh

.textshop1
    font-family: 'Roboto Condensed', sans-serif
    display: block

.iconshop
    position: relative
    left: 13.5vw
    bottom: 4vh
    width: 13vw
    height: 20vh
    // border: 1px solid black
    img
        width: calc( 9.5vw + 6.3vh )
        height: auto

.noobbtn
    color: white
    font-family: 'Roboto Condensed', sans-serif
    font-size: 1.6vh
    // margin-top: 1vh
    // margin-left: 3vh

.minibtn
    transition: 0.2s ease-out
    border: 0.11em solid #e0e0e0
    padding: 0.3vh 2vh
    // flex-basis: 25%
    border-radius: 0.5em
    line-height: 4.3vh
    height: 4.3vh
    font-size: 1.8vh
    text-align: center
    color: white
    font-family: 'Roboto Condensed', sans-serif

.minibtn:hover
    background: white
    color: black
    // border: none

.minibtnRed 
    transition: 0.2s ease-out
    border: 0.11em solid red 
    padding: 0.3vh 2vh
    // flex-basis: 25%
    border-radius: 0.5em
    line-height: 4.3vh
    font-size: 1.8vh
    text-align: center
    color: white
    font-family: 'Roboto Condensed', sans-serif

.minibtnRed:hover
    background: red
    color: black
    // border: none

.headright
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 3vh
    margin-left: 2vw
    margin-right: 2vw
    font-size: 2.1vw
    // font-size: 3.7vh
    color: white

.headrightImg
    transition: .4s ease-out
    
.headrightImg:hover
    transition: .4s ease-out
    transform: scale(1.3)

.headright1
    font-family: 'Roboto Condensed', sans-serif

.textright
    font-size: 1.6vh
    color: white
    font-family: 'Roboto Condensed', sans-serif
    margin-left: 2vw
    margin-top: 1vh
    .textright1
        line-height: 5vh
        border: 2px solid #747474
        padding: 0.5vh 2vh
        border-radius: 100px

.righticon
    align-self: flex-end
    display: flex
    justify-content: flex-end
    position: relative
    left: 2vw
    // bottom: 1vh
    // margin-left: 2.2vw
    img
        width: 20vw
        height: 55vh

// cursor

#cursor, #aura
    position: absolute
    border-radius: 100%
    transition: .5s cubic-bezier(.75, -1.27,.3,2.33) transform, .5s cubic-bezier(.75,-1.27,.3,2.33) width, .5s cubic-bezier(.75, -1.27,.3,2.33) height, .2s cubic-bezier(.75,-1.27,.3,2.33) opacity
    user-select: none
    pointer-events: none
    z-index: 10000

#cursor
    width: 0.42vw
    height: 0.42vw
    background-color: rgba(#fff, .5)
    border: 1px solid rgba(#000000, .4)
    transform: scale(1)
    &.active
        opacity: 0
        transform: scale(0)

#aura
    width: 2.40vw
    height: 2.40vw
    max-width: 3.6vw
    max-height: 3.6vw
    border: 1px solid rgba(#8a8a8a, .4)
    background-color: rgba(#fff, .4)
    filter: drop-shadow(0 0 10px #00000080)

    transform: translate(0.26vw, 0.26vw) 
    &.active
        border: 1.2px solid rgba(#fff, .33)
        background-color: rgba(#8a8a8a, .4)
        transform: scale(1.5)
        max-width: 3.6vw
        max-height: 3.6vw

#aura.hidden,
#cursor.hidden
    transform: scale(.001)

//SHOP
.agreePage
    width: 32vw
    position: absolute
    left: 25vw
    padding-top: 20vh
    // top: 20vh
    // transform: translate(-50%, -50%)
    // border: 1px solid black
    display: flex
    flex-direction: column
    text-shadow: 1px 1px 2px #0000007e

//SETTINGSPAGE

    $red: #fd1a15
    $green: #007177
    $btnWidth: 2vw
    $switchWidth: 3vw
    $switchHeight: 1vw
    $padding: 1vw

.mainsettings
    width: 35vw
    position: absolute
    left: 50%
    top: 7.5vh
    transform: translate(-50%, 0%)
    // border: 1px solid black
    display: flex
    flex-direction: column
    text-shadow: 1px 1px 2px #0000007e

.settingsh1 #sellCar
    h1
        text-shadow: 0px 0px 4px red

.settingsh1
    display: flex
    justify-content: center
    flex-direction: row
    font-size: 4.5vh
    color: #fff
    font-family: 'Roboto Condensed', sans-serif
    span
        margin: 0 1vw
    // border: 1px solid black
    // height: 12vh

.settings
    // border: 1px solid black
    // height: 80%
    display: flex
    flex-direction: column

input[type=checkbox]
    height: 0
    width: 0
    visibility: hidden

.checkboxtest label
    text-indent: -9999px
    width: 3.3vw
    height: 3.2vh
    background: grey
    display: block
    border-radius: 100px
    position: relative

.checkboxtest label:after
    content: ''
    position: absolute
    top: 0.4vh
    left: 0.2vw
    width: 1.2vw
    height: 2.2vh
    background: #fff
    border-radius: 90px
    transition: 0.4s

.checkboxtest input:checked + label
    background: #055dff

.checkboxtest input:checked + label:after
    left: calc(100% - 5px)
    transform: translateX(-100%)

.checkboxtest label:active:after
    width: 1.5vw

.checkboxes
    display: flex
    flex-direction: column
    // border: 1px solid black

.checkboxtest
    display: flex
    margin-top: 2vh
    flex-direction: row
    align-items: center
    color: white
    font-family: 'Rubik', sans-serif
    justify-content: space-between
    span
        font-size: 1.5vh

.settingRange
    width: 7.5vh

.settingCenter
    display: flex
    // width: 15vh
    justify-content: center
    // margin-left: 10vh
    align-items: center
    // border: 1px solid black

.bindname
    color: white
    font-size: 1.5vh

.binds
    display: flex
    flex-direction: column
    margin-top: 2vh

.bind
    font-family: 'Rubik', sans-serif
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    // border: 1px solid black

.bindbtn
    font-family: 'Roboto Condensed', sans-serif
    // letter-spacing: 1px
    font-size: 2.2vh
    border: 1px solid white
    padding: 0.6vh 0.5vw
    background-color: white
    border-radius: 5px
    text-shadow: 0 0 1px black
    animation-name: flash
    animation-duration: 2s
    animation-timing-function: linear
    animation-iteration-count: infinite

.mapchoice1
    display: flex
    flex-direction: column
    // border: 1px solid black

.namechoice
    display: flex
    flex-direction: row
    justify-content: center
    font-size: 2.8vh
    font-family: 'Roboto Condensed', sans-serif
    // margin-left: 0.3vw

.mapchoice
    color: white
    display: flex
    flex-direction: row
    justify-content: space-around
    label
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        // background-color: green
        min-width: 6vw

@keyframes click-wave
    0%
        height: 4vh
        width: 4vh
        opacity: 0.35
        position: relative

    100%
        height: 20vh
        width: 20vh
        margin-left: -8vh
        margin-top: -8vh
        opacity: 0

.option-input
    appearance: none
    position: relative
    display: flex
    justify-content: center
    align-items: center
    top: 1vh
    right: 0
    bottom: 0
    // left: 50%
    // transform: translate(-50%)
    height: 4vh
    width: 4vh
    transition: all .35s ease-out 0s
    background: #cbd1d8
    border: none
    color: #fff
    display: inline-block
    // margin-right: 0.5rem
    margin: 0
    outline: none
    position: relative
    z-index: 1000

.option-input:hover
    background: #9faab7

.option-input:checked
    background: #036de6
    
.option-input-red:hover
    background: #b68e8e

.option-input-red:checked
    background: #e60303
    
.option-input-green:hover
    background: #91b68e

.option-input-green:checked
    background: #1de603

.option-input:checked::before
    height: 4vh
    width: 4vh
    position: absolute
    content: '✔'
    display: flex
    justify-content: center
    align-items: center
    font-size: 2.5vh
    // text-align: center
    // line-height: 40px

.option-input:checked::after
    -webkit-animation: click-wave 0.65s
    -moz-animation: click-wave 0.65s
    animation: click-wave 0.65s
    background: #40e0d0
    content: ''
    display: block
    position: relative
    z-index: 100

.option-input.radio
    border-radius: 50%

.option-input.radio::after
    border-radius: 50%

.mapchoice div
    padding: 5rem

.mapchoice label
    display: flex
    flex-direction: column
    align-items: center
    line-height: 2vh
    font-family: 'Roboto Condensed', sans-serif
    // border: 1px solid black
    span
        margin-top: 1.5vh
        font-size: 1.5vh
        // margin-left: 50%
        // transform: translateX(-15%)

.btnback
    margin-top: 4vh
    display: flex
    flex-direction: row
    justify-content: center
    a
        margin-left: 1vw
        margin-right: 1vw
        font-size: 2vh
        border-radius: 0.25em
        padding: 1vh 1.7vw
        background-color: #fff
        color: black
        font-family: 'Roboto Condensed', sans-serif
        text-shadow: none
        transition: .2s ease-out

a:link
    text-decoration: none

a:visited
    text-decoration: none

a:active
    text-decoration: none

a:hover
    text-decoration: none
    //color: none
    box-shadow: 0px 0px 15px #ffffff

.social
    display: flex
    flex-direction: row
    width: 3.2vw
    justify-content: center
    align-items: center
    transition: .3s ease-in-out
    // border: 1px solid black 

.social :hover img
    position: relative
    transform: translateY(-0.5vh)
    transition: .3s ease-in-out

.imgformlang img
    width: 3vw
    transition: .3s ease-in-out

// car

.mainauto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    // padding-top: 5vh
    // position: fixed
    // bottom: 5vh
    // left: 50%
    // transform: translateX(-50%)
    // border: 1px solid black

.switchauto
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    align-content: center
    align-self: center
    // background-color: blue

.arrowleft
    display: flex
    align-items: center
    // background-color: red
    // filter: drop-shadow(0 0 5px #0076fc)
    margin-right: 2vw
    transition: .1s ease

.arrowright
    display: flex
    align-items: center
    // background-color: red
    // filter: drop-shadow(0 0 5px #0076fc)
    margin-left: 2vw
    transition: .1s ease

.arrowright img, .arrowleft img
    transition: 0.2s ease
    width: 4vw
    height: 4vw

// .arrowleft:hover, .arrowright:hover
//     filter: drop-shadow(0 0 3px #00a2ff)

.arrowleft:hover img, .arrowright:hover img
    filter: hue-rotate(60deg)
    transition: 0.2s all
    transform: scale(1.05)

.arrowleft:active img, .arrowright:active img
    transition: 0.2s all
    transform: scale(0.90)

.nameauto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    align-self: center
    border-radius: 5px
    color: white
    // width: 9vw
    min-width: 9vw
    height: 4vh
    font-family: 'Roboto Condensed', sans-serif
    font-size: 1.2vw

.colorInput
    // box-sizing: border-box
    -webkit-appearance: none
    border: none
    background: #0808085b
    width: 2.8vw
    height: 2.8vw
    border-radius: 1em
    margin-left: 1vw
    filter: drop-shadow(0 0 1px white)
    // box-shadow: 0 0 0 2px white

.colorInput:focus
    outline: none
    border-radius: 1em
    filter: drop-shadow(0 0 3px white)
    // box-shadow: 0 0 0 3px white

.colorInput

/* -webkit */
.colorInput::-webkit-color-swatch-wrapper
    padding: 0

.colorInput::-webkit-color-swatch
    border: none
    border-radius: 1em

.btnback2
    display: flex
    flex-direction: row
    justify-content: space-around
    align-content: center
    align-items: center
    padding-top: 2vh
    // border: 5px solid black
    a
        // margin-left: 1vw
        font-size: 1.7vh
        border-radius: 6px
        padding: 0vh 1vw
        line-height: 4.3vh
        font-family: 'Roboto Condensed', sans-serif
        text-shadow: none
        transition: .2s ease-out

.btnOnlyBorder
    background-color: #ffffff00
    border: 1px solid white
    color: #fff

.btnBackGround
    background-color: #ffffff
    color: black

.rotation
    // position: fixed
    // left: 0
    // top: 14vh
    height: 69vh
    // width: 100vw
    // border: 1px solid red 
    z-index: 1

.rotation input:focus
    outline: none

.rotation input[type=range]
    -webkit-appearance: none
    width: 99%
    height: 100%
    background: none

.rotation input[type=range]::-webkit-slider-runnable-track
    height: 69vh

.rotation input[type=range]::-webkit-slider-thumb
    height: 69vh
    width: 10%
    -webkit-appearance: none

// Friends

.contentlobbyfriends
    display: flex
    flex-direction: row
    justify-content: space-between
    position: absolute
    top: 50%
    left: 50%
    width: 80vw
    transform: translate(-50%, -50%)

.mainfrineds
    width: 25vw
    left: 50%
    top: 30%
    display: flex
    flex-direction: column
    text-shadow: 1px 1px 2px #0000007e

.friendsh1
    display: flex
    justify-content: center
    flex-direction: row
    font-size: 2.1vw
    padding-top: 2vh
    color: #fff
    font-family: 'Roboto Condensed', sans-serif

.btnfriends
    display: flex
    flex-direction: row-reverse
    color: #fff
    font: 2vh "Roboto Condensed", sans-serif
    div
        padding: 1%
        border-radius: 10px
        border: 2px solid white
        // transition: .1s ease-out
    div:hover
        background-color: #fff
        color: black

.rectangle
    counter-reset: li
    list-style: none
    font: 1.9vh "Trebuchet MS", "Lucida Sans"
    padding: 0
    text-shadow: 0 1px 0 rgba(255,255,255,.5)

.rectangle a
    position: relative
    display: block
    padding: 0.4em 0.4em 0.4em 0.8em
    margin: 0.5em 0 0.5em 2.5em
    // background: #D3D4DA
    color: white
    text-decoration: none
    // transition: all .3s ease-out

.rectangle a:hover
    background: #dcdde159

.rectangle a:before
    content: counter(li)
    counter-increment: li
    position: absolute
    left: -2.5em
    top: 50%
    margin-top: -1em
    background: #fd8f00ec
    border-radius: 3px
    height: 2em
    width: 2em
    line-height: 2em
    text-align: center
    font-weight: bold

.rectangle a:after
    position: absolute
    content: ""
    border: .5em solid transparent
    left: -1em
    top: 50%
    margin-top: -0.5em
    // transition: all .3s ease-out

.rectangle a:hover:after
    left: -0.5em
    border-left-color: #fd8f00ec

.vidzapros
    color: white
    font: 1.9vh "Roboto Condensed", "Lucida Sans"
    border-bottom: 1px solid white

.zaprosi
    // margin-top: 1vh
    // margin-bottom: 1vh
    padding-top: 1vh
    padding-bottom: 1vh
    margin-left: 1vw
    margin-right: 1vw
    flex-basis: 80%
    // max-height: 25vh
    overflow-y: auto
    overflow-x: hidden

    transition: all 1s ease-in-out

.zapros
    display: flex
    flex-direction: row
    align-items: center
    align-content: center
    align-self: center
    justify-content: space-between
    margin-top: 2vh
    border-radius: 20px
    // margin-right: 0.25vw
    // border-radius: 1px
    transition: .3s ease-in-out
    // background-color: blue

.zapros:hover 
    transition: .3s ease-in-out
    background: #00000077


.zaprosNews:hover 
    transition: .3s ease-in-out
    padding: 0.8vh 0

.avatarnickzapros
    display: flex
    flex-direction: row
    align-items: center

.btnszapros
    display: flex
    flex-direction: row

.btnzapros
    align-items: center
    align-content: center
    align-self: center
    // background-color: black
    // margin-right: 1.5vw
    // padding: 2%
    margin-top: 0.2vh
    margin-right: 0.7vw
    transition: .3s ease-in-out
    // padding: 1%
    img
        width: 1.2vw
        transition: .6s ease-in-out
        transform: rotate(-360deg)

.btnzapros img:hover
    transition: .6s ease-in-out
    transform: rotate(360deg)

.profileDetails
    transform: translateX(1vw)
    position: absolute
    transition: .3s ease-in-out
    opacity: 0

.nickzapros
    font: 1.2vw "Trebuchet MS", "Lucida Sans"
    color: white
    margin-left: 0.5vw
    margin-right: 0.5vw
    max-width: 20vw
    word-break: break-all
    // background-color: black

.avatarzapros
    width: 2.4vw
    min-width: 2.4vw
    height: 2.4vw
    border-radius: 50%
    img
        width: 100%
        height: 100%
        border-radius: 50%

.online
    border: 2px solid #33ff00

.zaprosi::-webkit-scrollbar
    -webkit-appearance: none
    width: 0.36vw

.zaprosi::-webkit-scrollbar-thumb
    border-radius: 50px
    background-color: #ffffff83
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5)

.inputaddfriends
    padding-top: 2vh
    display: flex
    flex-direction: column
    justify-content: space-between
    // align-items: center
    font-size: 1.8vw
    h1
        color: #fff
        font-family: 'Roboto Condensed', sans-serif
        text-align: center
    input
        border: none
        height: 3.5vh
        width: 13vw
        border-radius: 10px
        background-color: #0000006c
        color: white
        font: 2vh "Trebuchet MS", "Lucida Sans"
        padding: 0 3% 0 3%
        letter-spacing: 2px
        text-align: center
        font-size: 1vw
    input:focus
        outline: 0
        outline-offset: 0

//lobby

.mainlobby
    width: 22vw
    // width: 100%
    // border: 1px solid black
    text-shadow: 1px 1px 2px #0000007e

.sectionslobby
    // width: 100%
    display: flex
    flex-direction: row
    align-items: flex-end
    justify-content: space-between
    color: white
    font: 0.7vw "Trebuchet MS", "Lucida Sans"

.sectionlobby
    display: flex
    flex-direction: column
    align-items: center
    // border: 1px solid black

.borderlobby
    display: flex
    align-items: center
    justify-content: center
    height: 5vh
    width: 5vh
    // border: 1px solid #f0f0f0
    // border-radius: 15px
    transition: .5s ease-out
    img
        width: 100%
        height: auto

.borderlobby:hover
    border-color: #01dbf8
    transform: rotate(360deg)

.ava
    img
        width: 100%
        height: auto
        border-radius: 50%

.crownimg
    // height: 5vh
    width: 1.0vw
    margin-bottom: 1vh
    img
        width: 100%
        height: auto

.ava:hover
    transform: scale(1.4)

.ready
    margin-bottom: 1vh
    color: #39ff1f
    font-size: 0.6vw //0.7vw

.readynot
    color: #ff1e1e

.nicklobby
    margin-top: 1vh

.person-friend-enter, .person-friend-leave-to
    transition: 1.8s
    transform-style: preserve-3d
    transform: rotateY(180deg)

.person-friend-leave-active
    opacity: 0
    transition: 0.3s

.person-friend2-enter, .person-friend2-leave-to
    transition: 1.8s
    transform-style: preserve-3d
    transform: rotateY(180deg)

.person-friend2-leave-active
    opacity: 0
    transition: 0.3s

.list-complete-enter, .list-complete-leave-to

    opacity: 0
    transform: translateY(150px)

.list-complete-leave-active

    transform: translateY(-150px)
    // position: absolute

.list-complete-item
    transition: all 0.6s ease-in-out

// Custom

.switchcustom
    display: flex
    width: 4vw
    height: 60vh
    flex-direction: column
    justify-content: space-between
    position: relative
    top: 40vh
    transform: translateY(-40%)
    left: 15vw
    // flex-wrap: wrap
    // border: 2px solid green

.customelement
    width: 100%
    // border: 1px solid green
    transition: 0.2s ease-out
    img
        width: 100%
        height: 100%
        transition: 0.2s ease-out

.customelement:hover img
    transform: scale(1.2)

.sandwiches
    display: flex
    flex-direction: row
    justify-content: center
    // align-items: center
    margin-top: 17vh

.sandwichcustom
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    // margin-left: 2vw 

.namecustom
    border: 1px solid #ffffff
    // background-color: #fff
    border-radius: 1vh
    color: white
    padding: 0.5vw 1.9vw
    font-family: 'Roboto Condensed', sans-serif
    font-size: 2.5vh
    filter: drop-shadow(0 0 1px #fff)
    box-shadow: 0px 0px 3px #ffffff

.active
    transform: scale(1.2)
    filter: drop-shadow(0 0 10px #43fca6)

.sandwich2
    transform: scale(0.7)

.btnzapros:after
    content: attr(data-title)
    position: absolute
    transform: translate(10.5vw, -3vh)
    z-index: 1
    background: #a5ff14d3
    font-family: Arial, sans-serif
    font-size: 1.6vh
    padding: 0.3vh 0.5vw
    border-radius: 8%
    color: black
    font-family: 'Roboto Condensed', sans-serif
    white-space: nowrap
    opacity: 0
    transition: all 0.4s ease

.btnzapros:hover::after
    opacity: 1
    transform: translate(-0.4vw, -4vh)

.ticket .minibtn
    // margin-top: 1vh
    padding: 0 1vw
    line-height: 4vh
    // position: absolute
    margin-left: 2vw

@keyframes shake
    0%
        transform: rotate(2deg)
    50%
        transform: rotate(-3deg)
    70%
        transform: rotate(3deg)
    100%
        transform: rotate(0deg)

.anim:hover
    animation: shake 500ms ease-in-out forwards

// ДОНАТ

.maindonat
    width: 85%
    height: 70vh
    display: flex
    flex-direction: row
    justify-content: space-between
    // border: 3px solid red
    position: absolute
    padding-top: 7vh
    padding-left: 7vw
    // left: 25vw
    // top: 50vh
    // transform: translate(-25vh, -25vw)
    h1
        padding-top: 2vh
        font-size: 2.2vw

.leftdonat
    flex-basis: 29.5%
    height: 100%
    // border: 3px solid black
    display: flex
    flex-direction: column
    justify-content: space-between

.rightdonat
    flex-basis: 65.5%
    height: 100%
    // border: 3px solid black
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.donatform
    height: 27vh
    font-size: 2.5vh
    font-family: 'Roboto Condensed', sans-serif
    color: white
    display: flex
    flex-direction: column
    border: 3px solid #ff0000
    border-radius: 10% 10%
    box-shadow: 0 0 30px #ff0000, inset 0 0 10px #ff0000
    transition: 0.4s ease-in-out
    text-shadow: 1px 1px 1px #ff0000
    background-color: #ff00001c
    z-index: 1000
    h1
        text-shadow: 1px 1px 10px #ff0000
        letter-spacing: 0.4vh
        text-align: center
        font-family: 'Roboto Condensed'
        font-weight: 900
        // text-decoration: underline

.calculator
    flex-basis: 25%
    border: 2px solid #00aeff
    box-shadow: 0 0 10px #00aeff, inset 0 0 10px #00aeff
    transition: 0.4s ease-in-out
    border-radius: 30px
    text-shadow: 1px 1px 1px #00aeff
    transition: 0.4s ease-in-out
    font-size: 2.5vh
    font-family: 'Roboto Condensed', cursive
    background-color: #00aeff17
    h1
        text-align: center
        text-shadow: 1px 1px 5px #00aeff
        // letter-spacing: 0.2vh
        font-family: 'Roboto Condensed'
        font-weight: 900
    .buttonBuy
        padding-top: 1vh
        width: 100%
        display: flex
        justify-content: center

.leftform
    width: 100%

.calculator:hover
    background-color: #00aeff98
    box-shadow: 0 0 20px #00aeff, inset 0 0 20px #00aeff

.donatimgform
    width: 7vw
    position: relative
    img
        width: 100%
        height: 100%

.donatinf
    font-size: 1.7vh
    padding-left: 1vw

.imgprice
    // padding-left: 1vw
    // padding-bottom: -1vh
    font-size: 5vh
    display: flex
    align-items: flex-end
    justify-content: space-between
    margin-top: auto
    // border: 1px solid black
    height: 12vh
    img
        transition: 0.5s ease-in-out

.calculator:hover .buttonBuy, .donatform:hover .buttonBuy
    opacity: 1
    transition: all 0.8s

.buttonBuy
    background: none
    color: #ffffff
    border: none
    text-shadow: 0px 0px 10px black
    font-family: 'Roboto Condensed'
    font-weight: 900
    font-size: 2vh
    transition: all 0.8s
    opacity: 0
    // position: relative
    // left: 2.3vw

.podvalDonat
    position: relative
    top: 9.1vh
    z-index: 2000
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.donatbtn
    // border: 2px solid white
    // border-top: 4px solid white
    // border-right: 3px solid white
    // border-radius: 0 30px 0 120px
    // background-color: rgba(255, 0, 0, 0.034)
    // border-radius: 5px
    // padding: 1vh 1vw
    // margin-left: 0.5vw
    font-family: 'fontPrice'
    font-size: 5vh
    text-shadow: 0px 0px 5px black

.vip
    flex-basis: 60%
    border-color: #ffc400
    box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400
    text-shadow: 1px 1px 1px #ffc400
    background-color: #ffc4000e
    .donatimgform
        width: 10vw
        top: 3vh
        left: 3vw
    // .donatbtn
    //     border: 2px solid #ffc400
    //     background-color: #ffc40017
    h1
        text-shadow: 1px 1px 10px #ffdf74
    ul
        padding-left: 2vw
        margin: 0
    li
        // padding-top: 3vh 
        list-style-type: none
        font-size: 1vw
        padding-top: 2vh
    li::before
        content: '- '
        // font-size: 4vh
        // line-height: 4vh
        color: yellow
        font-weight: bold
        text-shadow: 1px 1px 2px #ff0000
    .donatbtn
        // border-color: #ffc400
        // box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400

.donatform:hover
    background-color: #ff000088
    box-shadow: 0 0 20px #ff0000, inset 0 0 20px #ff0000

.vip:hover
    background-color: #ffc400c7
    box-shadow: 0 0 30px #ffc400, inset 0 0 30px #ffc400

.premium
    // background-image: url(../img/premiumbg.jpg)
    // background-color: #00000033
    // background-position: center
    // background-repeat: no-repeat
    // background-size: cover
    height: 100%
    flex-basis: 45%
    border-color: #47b139
    box-shadow: 0 0 20px #47b139, inset 0 0 10px #47b139
    text-shadow: 1px 1px 1px #47b139
    background-color: #47b13923
    h1
        text-shadow: 1px 1px 10px #5fec4c
    .premiumimgform
        // width: 7.5vw
        position: relative
        top: 3vh
        left: 4vw
        // border: 1px solid black
    img
        width: 80%
        height: 100%
    ul
        padding-left: 2vw
        margin: 0
    li
        // padding-top: 3vh 
        list-style-type: none
        font-size: 1vw
        padding-top: 2vh
    li::before
        content: '- '
        // font-size: 3vh
        // line-height: 4vh
        color: #00ff15
        font-weight: bold
        text-shadow: 1px 1px 2px #00ff15
    .imgprice
        margin-top: auto
    .donatimgform
        left: 2vw
        top: 2vh
    .donatbtn
        // border-color: #47b139
        // box-shadow: 0 0 10px #47b139, inset 0 0 10px #47b139

.premium:hover
    background-color: #47b139c7
    box-shadow: 0 0 30px #47b139, inset 0 0 30px #47b139

.rightdonat .donatimgform
    width: 20vw

.deluxe
    height: 100%
    flex-basis: 45%
    ul
        padding-left: 2vw
        margin: 0
    li
        // padding-top: 3vh 
        list-style-type: none
        font-size: 1vw
        padding-top: 2vh
    li::before
        content: '- '
        // font-size: 4vh
        // line-height: 4vh
        color: red
        font-weight: bold
        text-shadow: 1px 1px 2px #ff0000
    .imgprice
        margin-top: auto
    .donatbtn
        // border-color: #ff0000
        // box-shadow: 0 0 10px #ff0000, inset 0 0 10px #ff0000

.deluxeimgform
    // width: 10vw
    position: relative
    top: 2vh
    left: 2.5vw
    // border: 1px solid black
    transform: rotate(26deg)
    // padding-left: 1vw
    img
        width: 120%
        height: 110%

.converterblock
    padding-top: 2vh
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    input:focus
        outline: 0
        outline-offset: 0
    span
        color: white
        // text-shadow: none
        // font-size: 2.5vh
    input
        border: none
        height: 3.5vh
        width: 6vw
        border-radius: 3px
        background-color: #0000006c
        color: white
        font: 2vh "Trebuchet MS", "Lucida Sans"
        padding: 0 3% 0 3%
        margin-left: 0.5vw
        margin-right: 0.5vw
        letter-spacing: 2px
        text-align: center
        font-size: 1vw
    .donatimgform
        width: 3vw
        display: flex
        align-items: center
        filter: drop-shadow(0 0 1px #00aeff)

.inputcalc
    display: flex
    flex-direction: column
    align-items: center
    span
        padding-bottom: 1vh

.upline
    // position: absolute
    height: 10vh
    display: flex
    flex-direction: row
    align-items: center
    align-content: center
    color: white
    justify-content: space-around
    // width: 65%
    // left: 50%
    // top: 5vh
    // transform: translateX(-50%)
    font-size: 2vh
    font-family: 'Roboto Condensed', cursive
    text-shadow: 1px 1px 2px #0000007e
    padding-top: 2vh

.nameupline
    font-family: 'Roboto Condensed', sans-serif
    font-weight: 700
    font-size: 3vh
    // text-decoration: underline

.balancemoney
    font-size: 1.4vh
    color: #efefefea
    font-family: 'Oswald', sans-serif
    // height: 2.1vh

.rub
    font-family: 'Barlow', sans-serif
    font-size: 2.5vh
    font-weight: bold

.buttonsupline
    display: flex
    flex-direction: row
    justify-content: space-between

.btnupline
    border: 1px solid white
    padding: 1vh 1vw
    border-radius: 5px
    transition: 0.2s ease-in-out
    z-index: 0

.btnupline:hover
    background-color: white
    color: black

// бан
#ban
    width: 100%
    height: 100%
    background: linear-gradient(to top, #0000009d 0%, #ff00006b 83%, #000000ab 100%)
    text-shadow: 1px 1px 2px #0000007e

.bancontent
    font-family: 'Barlow', sans-serif
    position: absolute
    width: 100%
    top: 30%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    align-items: center
    // justify-content: center
    flex-direction: column
    h1
        margin: 0
        font-size: 5vh
    span
        font-size: 2vh
        margin-top: 1vh
        color: white
    h2
        font-size: 3vh
        color: white
        padding-top: 2vh

.banspans
    display: flex
    flex-direction: column
    padding-top: 2vh

.baninfo
    font-weight: bold

.modalwindow
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 40vw
    height: 40vh
    border: 2px solid #e4e4e4
    box-shadow: 0 0 10px #e4e4e4, inset 0 0 10px #e4e4e4
    background: #000000c2
    border-radius: 5px
    display: flex
    flex-direction: column
    padding: 2vh

.imgcloseform
    display: flex
    justify-content: flex-end
    img
        transform: rotate(-360deg)
        width: 1.2vw
        transition: .6s ease-in-out
        filter: drop-shadow(0 0 5px #ffffff)

.imgcloseform img:hover
    transform: rotate(360deg)
    transition: .6s ease-in-out

.donatnames
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 2vh
    font-family: 'Barlow', sans-serif
    span
        font-size: 2vh
        color: white
        width: 10vw

.donatlist
    display: flex
    flex-direction: column
    justify-content: center
    color: white
    border-top: 1px solid white
    margin-top: 1vh
    span
        font-size: 1.7vh
        font-family: 'Barlow', sans-serif
        // border: 1px solid white
        width: 10vw
        display: flex
        align-items: center
        margin-top: 2vh

.timedonat
    color: #3af149

.minusdonat
    color: #ff9100
    border: 1px solid #ff9100
    height: 2.5vh
    transition: .3s ease-in-out
    border-radius: 2px

.donatnu
    display: flex
    flex-direction: row
    justify-content: space-between

.minusdonat:hover
    background: #ff9100
    color: white
    box-shadow: 0 0 10px #ff9100, inset 0 0 10px #ff9100

.timedonat, .minusdonat, .namedon2
    display: flex
    justify-content: center

.colorPicker
    z-index: 2
    display: flex

.hue-map
    position: absolute
    top: 1.5vh
    bottom: 5px
    right: 1.25vw
    // margin: -5vh 12.5vw
    width: 0.7vw
    height: 22vh

@keyframes color
    0%
        color: white

    50%
        color: rgb(255, 0, 0)

    100%
        color: white

#RMMoney
    animation: color 8s infinite ease-in-out

@keyframes colorGreen
    0%
        color: white

    50%
        color: rgb(21, 255, 0)

    100%
        color: white

.priceRange
    width: 40%
    height: 10vh
    input
        height: 1vw  

.inputRange
    height: 1vw

.winMain
    padding-top: 10vh
    display: flex
    flex-direction: column
    // align-items: center
    // align-content: center
    // align-self: center
    font-family: 'Oswald'
    text-shadow: 1px 1px 3px #000

.winLine
    padding-top: 20vh
    display: flex
    justify-content: space-evenly

.winEl
    display: flex
    align-items: center
    align-self: center
    border-bottom: 1px solid transparent
    animation-name: flash_border
    animation-duration: 2s
    animation-timing-function: linear
    animation-iteration-count: infinite
    border-color: red
    // border-image: linear-gradient(90deg, #d3f800 50%, #ff0000 100%)
    // border-radius: 14px  
    border-image-slice: 1
    padding: 0.1vh 0.5vw
    transition: all 1s

@keyframes flash_border
    0%
        border-color: #f702d6

    40%
        border-color: lime

    80%
        border-color: yellow

    100%
        border-color: red
//      linear-gradient(90deg, #d3f800 50%, #ff0000 100%)

.winEl:hover
    filter: hue-rotate(90deg)
    transform: scale(1.1)
    transition: all 1s

.winElRight
    display: flex
    flex-direction: column
    align-items: center
    align-self: center
    font-size: 1vw

.winEl img
    // position: absolute
    // right: 5vw
    width: 2.5vw
    height: 2.5vw
    padding-top: 0.6vh
    filter: drop-shadow(0 0 1px #000000)

.winText
    font-size: 5vw

.exitToMenu
    background-color: rgba(255, 255, 255, 0)
    font-size: 2vh
    border-radius: 5px
    padding: 1vh 0.5vw
    padding-right: 0.5vw
    border: 2px solid white
    color: white
    font-family: 'Oswald'
    transition: all 1s
    margin-top: 20vh
    text-shadow: 1px 1px 1px #000
    display: flex
    justify-content: center

.exitToMenu:hover
    background-color: white
    color: black
    transition: all 1s
    text-shadow: 1px 1px 1px #ffffff

.exitToMenu:focus
    outline: none

.exitToMenu img
    width: 2.5vh
    height: 2.5vh
    padding-right: 0.5vw
    padding-top: 0.4vh
    filter: drop-shadow(0 0 1px #000000)

input[type="button" i]:focus, .button :focus, .button :active
    outline: none

//Управление донатом    
.donateMain
    height: 80vh
    padding: 0 5vw
    font-weight: 700
    font-size: 1.8vw
    font-family: 'Roboto Condensed', sans-serif

.elDonateBlock
    height: 20vh
    padding: 3vh 1.5vw
    border-radius: 10% 10%

.elDonateBlock:hover
    h1
        color: black
    div
        color: black

.iconJetPack
    position: relative
    top: 4vh

.iconJetPack img
    width: 19vw
    height: 22vh

.infoHeading
    display: flex
    justify-content: center
    font-weight: 900
    text-shadow: 0px 0px 5px #ff0000
    font-size: 4vh

.infoDonate
    margin-top: 1vh
    ul
        padding-left: 1vw

.vipArrow:hover img, .vipArrow:hover img
    filter: hue-rotate(90deg)
    transition: 0.2s all
    transform: scale(1.3)

.vipArrow:active img, .vipArrow:active img
    transition: 0.2s all
    transform: scale(0.90)

.elDonateBlockContent
    display: flex
    justify-content: space-evenly
    align-items: center
    span
        font-family: 'Rubik', sans-serif
        letter-spacing: -1px
        color: #000000
        background-color: #fff
        padding-left: 0.5vw
        padding-right: 0.5vw
        border-radius: 5px
        text-shadow: none

.settingsSound
    transition: 0.2s all
    filter: invert(90%)
.settingsSound:hover
    transition: 0.2s all
    transform: scale(1.5)
    filter: invert(10%)
    
.settingsSound:active
    transition: 0.2s all
    transform: scale(0.9)
    filter: invert(10%)


.invisibleInput
    background: #ffffff00 
    border: none

.invisibleInput:focus
    outline: 0 
    outline-offset: 0    

.group
    position: relative
    margin-bottom: 2.08vw
    padding-left: 1.5vw

.inputText
    background: none
    font-size: 0.83vw
    padding: 0.52vw 0px
    display: block
    width: 28vw
    border: none
    border-bottom: 1px solid #d3d3d3
    filter: drop-shadow(0 0 5px black)
    color: white
    &:focus
        outline: none
    

.labelText
    color: #e7e4e4
    font-size: 1vw
    position: absolute
    pointer-events: none
    filter: drop-shadow(0 0 1px black)
    // left: 10px
    top: 0.8vw
    transition: 0.2s ease all
    font-family: 'Roboto Condensed', sans-serif
    font-weight: 500

.inputText
    &:focus ~ label,
    &:valid ~ label
        top: -1.3888888888888888vh
        font-size: 1.4vh
        color: #1de603

.inputTextRed
    &:focus ~ label,
    &:valid ~ label
        color: #f51d00

.bar
    position: relative
    display: block
    width: 28vw
    &:before, 
    &:after
        content: ''
        height: 0.18518518518518517vh
        width: 0
        bottom: 0
        position: absolute
        background: #1de603
        transition: 0.2s ease all
        -moz-transition: 0.2s ease all
        -webkit-transition: 0.2s ease all
    &:before
        left: 50%
    &:after
        right: 50%

.barRed
    &:before, 
    &:after
        background: #f51d00

.inputText:focus 
    ~ .bar:before,
    ~ .bar:after
        width: 50%    

.typeLP
    font-size: 0.8vw
    opacity: 0.6
    transition: all .5s ease-in

.zapros:hover .typeLP
    opacity: 1
    transition: all .5s ease-out

.changePassword
    display: flex
    justify-content: center
    width: 28.5vw
    div
        margin-top: 2vh    
 
.btnback .acceptRed
    background: rgba(252, 64, 64, 0.726)  

.btnback .acceptRed:hover
    background: rgb(216, 38, 38)
    box-shadow: 0 0 10px red