body, html{
  user-select: none;
}


/* PRIMARY SECONDARY CHECKBOXES */
.transition, input[type=checkbox][type=radio]:after, input[type=checkbox]:after {
  -moz-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  -o-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  -webkit-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
}

.bgTransition, input[type=checkbox][type=radio]:before, input[type=checkbox]:before {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

input[type=checkbox] {
  position: relative;
}
input[type=checkbox]:before, input[type=checkbox]:after {
  content: "";
  position: absolute;
}
input[type=checkbox]:before {
  height: 100%;
}
input[type=checkbox] {
  border-radius: 30px;
}
input[type=checkbox]:before {
  width: 100%;
  border-radius: 30px;
  background-color: #1F232A;
  box-shadow: 0 0 0 1px #2c3f52;
}
input[type=checkbox]:after {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #1F232A;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
input[type=checkbox]:checked:after {
  -moz-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
}
input[type=checkbox]:checked:before {
  background-color: #1F232A;
  box-shadow: 0 0 0 1px #1F232A;
}
input[type=checkbox][type=checkbox]:before {
  width: 200%;
  background-color: #2A3137;
  box-shadow: 0 0 0 1px #1F232A;
  -moz-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  -webkit-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  border-radius: 30px;
}
input[type=checkbox][type=checkbox]:after {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  background-color: rgb(131, 14, 14);
  border-radius: 30px;
  -moz-transform: translate(60%, 0);
  -ms-transform: translate(60%, 0);
  -webkit-transform: translate(60%, 0);
  transform: translate(60%, 0);
}
input[type=checkbox][type=checkbox]:checked:after {
  -moz-transform: translate(-60%, 0);
  -ms-transform: translate(-60%, 0);
  -webkit-transform: translate(-60%, 0);
  transform: translate(-60%, 0);
}
input[type=checkbox][type=checkbox]:checked:before {
  background-color: rgb(71, 75, 78);
  box-shadow: 0 0 0 1px #1F232A;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox] {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 2px solid #1F232A;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* COLOR PICKER */

.checkboxgrp1{
  position: absolute;
  top: 0%;
  left: 80%;
  user-select: none;
}
#secondaryColor{
  position: relative;
  top: 25px;
  right: 26px;
}

#colorpicker{
  display: block;
}

#slider{
  display: none;
}

.color-picker-panel {
  background: #1F232A;
  width: 15vw;
  height: 24vh;
  border-radius: 8px;
  border: 2px solid #364347;
  position: absolute;
  top: 71.8%;
  left: 2.5%;
  /* transform: translate(-50%, -50%); */
}

.panel-row {
  /* position: relative; */
  /* margin: 0 10px 10px;  */
  margin: 0 0.5vw;
}
.panel-row:first-child {
  margin-top: 10px;
  /* margin-bottom: 6px; */
}
.panel-row:after {
  content: "";
  display: table;
  clear: both;
}

.panel-header {
  background: #2A3137;
  padding: 8px;
  margin: 0 -10px 10px;
  text-align: center;
  color: #8B949A;
}

.color-cursor {
  border-radius: 100%;
  background: #ccc;
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  border: 2px solid #fff;
  transition: all .2s ease;
}
.color-cursor.dragging {
  transition: none;
}
.color-cursor#spectrum-cursor {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  top: 0;
  left: 0;
}
.color-cursor#hue-cursor {
  top: 0;
  left: -25%;
  height: 20px;
  width: 20px;
  pointer-events: none;
  margin-top: -10px;
}

.spectrum-map {
  position: relative;
  width: 11.3vw;
  height: 19vh;
  overflow: hidden;
}

.buttongrp1{
  color: #4d5c61;
  position: absolute;
  top: 89px;
  bottom: 5px;
  right: 35px;
  width: 10px;
}

#spectrum-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .hue-map {
  position: absolute;
  top: 10px;
  bottom: 5px;
  right: 18px;
  width: 10px;
} */

#hue-canvas {
  border-radius: 8px;
  /* position: absolute; */
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  width: 100%;
  height: 80%;
}

.button {
  background: #3b3e41;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #b2b8bd; 
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover{
  transition: all 0.3s;
  background: #606569;
}
.button#secondaryBut:hover{
  transition: all 0.3s;
  background: #606569;
}
.button#primaryBut:hover{
  transition: all 0.3s;
  background: #606569;
}
.button:active {
  transition: all 0.3s;
  background: #7a7f83;
}

.button#acceptcolor {
  position: absolute;
  right: -26px;
  top: 162px;
  width: 68px;
  height: 68px;
  display: block;
}
.button.acceptcolor {
  position: absolute;
  right: -26px;
  top: 147px;
  width: 68px;
  height: 68px;
  display: block;
}
.button.closeButton {
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  padding: 6px;
  width: 210px;
  margin: 10px auto 0;
  border-radius: 4px;
}
.button#matteff {
  position: relative;
  display: block;
  top: -30px;
  right: 20px;
  width: 55px;
  height: 25px;
  margin: 10px auto 0;
}
.button#chromeeff {
  position: relative;
  display: block;
  top: -30px;
  right: 20px;
  width: 55px;
  height: 25px;
  margin: 10px auto 0;
}
.button#pearleff {
  position: relative;
  display: block;
  top: -30px;
  right: 20px;
  width: 55px;
  height: 25px;
  margin: 10px auto 0;
}

.button#primaryBut {
  position: relative;
  display: block;
  top: -20px;
  right: -32px;
  width: 20px;
  height: 20px;
  cursor: default;
}

.button#secondaryBut {
  position: relative;
  display: block;
  top: -14px;
  right: -32px;
  width: 20px;
  height: 20px;
  cursor: default;
}
#prim{
  color: #4d5c61;
  position: absolute;
  top: 16px;
  left: 35px; 
}
#sek{
  color: #4d5c61;
  position: absolute;
  top: 49px;
  left: 35px;  
}
.button.mode-toggle {
  /* position: absolute; */
  /* top: 6px; */
  margin-top: 1.2vh;
  width: 14vw;
  height: 2vh;
  font-size: 1.2vh;
}

.value-fields {
  display: none;
  align-items: center;
  top:20px;
}
#hexname{
  position: relative;
  top: 14px;
}
.value-fields.active {
  display: flex;
}
.value-fields .field-label {
  margin-top: 20px;
  margin-right: 6px;
  color: #4d5c61;
}
.value-fields .field-input {
  background: #15191C;
  border: 1px solid #364347;
  box-sizing: border-box;
  border-radius: 2px;
  line-height: 38px;
  padding: 0 4px;
  text-align: center;
  color: #8B949A;
  font-size: 1rem;
  display: block;
  margin-top: 20px;
}

.rgb-fields .field-group {
  position: relative;
  top: 15px;
  display: flex;
  align-items: center;
}
.rgb-fields .field-input {
  width: 42px;
  margin-right: 10px;
}

.hex-field .field-input {
  width: 170px;
  position: relative;
  top: 15px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

/* Slider */
.settingCenter-panel {
  background: #1F232A;
  width: 330px;
  height: 83px;
  border-radius: 8px;
  border: 2px solid #364347;
  position: absolute;
  top: 73.6%;
  left: 9.8%;
  transform: translate(-50%, -50%);
}

.slidecontainer {
  position: absolute;
  width: 70%;
  top: 25px;
  left: 40px;
} 

.settingRange{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.settingCenter:hover {
  opacity: 1;
}

.settingCenter::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.settingCenter::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#output-id{
  position: absolute;
  left: 47px;
  top: -18px;
  color:#8B949A;
  font-weight: bold;
}
#output-name{
  position: absolute;
  left: 62px;
  color:#8B949A;
  font-weight: bold;
}
#slider-header{
  position: relative;
  left: 98px;
  top: -38px;
  color: #8B949A;
  font-weight: bold;
}

#output-slider{
  position: relative;
  text-align: center;
  left: -33px;
  top: -54px;
  color: #8B949A;
  font-weight: bold;
}

.button.setslider{
  font-weight: bold;
  position: absolute;
  top:57px;
  left: 35px;
  width: 118px;
  height: 20px;
}
.button.backslider{
  font-weight: bold;
  position: absolute;
  top:57px;
  left: 170px;
  width: 118px;
  height: 20px;
}

.fireworks {
  position: absolute;
  top: 10vh;
	height: 30vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
  
}
.fireworks .firework {
  position: relative;
  top: 0px;
  left: 0px;
	margin: 0px 50px;
}
.fireworks .firework:before{
  content: "";
	display: block;
	border-radius: 5px;
  background-color: skyblue;
  width: 5px;
  height: 0px;
	will-change: transform;
	transform: translateY(1000px);
	animation: fireworkstart 3s ease-out;
  animation-iteration-count: 3;
	
}
.fireworks .firework .explosion {
  position: absolute;
  top: 0;
  width: 5px;
  height: 20px;
  opacity: 0;
  transform-origin: top center;
	will-change: transform;
  animation: explosion 0.7s linear 3s;
  animation-iteration-count: 15;
}
.fireworks .firework .explosion:nth-child(1) {
          transform: rotate(0deg);
}
.fireworks .firework .explosion:nth-child(2) {
          transform: rotate(90deg);
}
.fireworks .firework .explosion:nth-child(3) {
          transform: rotate(180deg);
}
.fireworks .firework .explosion:nth-child(4) {
          transform: rotate(-90deg);
}
.fireworks .firework .explosion:nth-child(5) {
          transform: rotate(45deg);
}
.fireworks .firework .explosion:nth-child(6) {
          transform: rotate(-45deg);
}
.fireworks .firework .explosion:nth-child(7) {
          transform: rotate(135deg);
}
.fireworks .firework .explosion:nth-child(8) {
          transform: rotate(225deg);
}

.fireworks .firework .explosion .spark{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	will-change: transform;
	animation: explosion2 0.7s ease-in-out 3s infinite;
}


.fireworks .firework .explosion .spark.red {
  background-color: #E91E63;
}
.fireworks .firework .explosion .spark.blue {
  background-color: skyblue;
}
.fireworks .firework .explosion .spark.green {
  background-color: limegreen;
}
.fireworks .firework .explosion .spark.yellow {
  background-color: yellow;
}
.fireworks .firework .explosion .spark.purple {
  background-color: purple;
}
@keyframes fireworkstart{
	0%{
		height: 0px;
		transform: translateY(1000px);
	}
	25%{
		height: 25px;
	}
	50%{
		height: 50px;
	}
	75%{
		height: 30px;
	}
	100%{
		height: 0;
		transform: translateY(0);
	}
}
	
@keyframes explosion{
	0%{
		height: 0px;
		opacity: 0;
	}
	50%{
		height: 25px;
		opacity: 1;
	}
	100%{
		height: 0px;
		opacity: 0;
	}
}
@keyframes explosion2{
	0%{
		transform: translateY(0px);
	}
	25%{
		transform: translateY(5px);
	}
	50%{
		transform: translateY(10px);
	}
	75%{
		transform: translateY(50px);
	}
	100%{
		transform: translateY(70px);
	}
}

html input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 100%;
  margin: 24px 0 16px;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  html input[type="range"] {
    overflow: hidden;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  html input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #444;
    transition: box-shadow 0.2s ease-in-out;
  }
  html input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -340px 0 0 330px #1597ff, inset 0 0 0 20px #1597ff;
    border-radius: 100%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  html input[type="range"]:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -340px 0 0 330px #1597ff, inset 0 0 0 3px #1597ff;
  }
}
html input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
html input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
html input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
html input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
#h4-container {
  width: 400px;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
#h4-container #h4-subcontainer {
  width: 100%;
  position: relative;
}
#h4-container #h4-subcontainer h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  color: #fff !important;
  font-size: 12px;
  transform-origin: center -10px;
  transform: translateX(-50%);
  transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
#h4-container #h4-subcontainer h4 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1597ff;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  z-index: -1;
}
input:not(:active) + #h4-container h4 {
  opacity: 0;
  margin-top: -50px;
  pointer-events: none;
}
