body {
  padding: 0;
  margin: 0;
  background-image: url(../img/fon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  cursor: default;
}

html {
  overflow: hidden;
}

.main {
  width: 90%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.upper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.5vh;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.maininfo div, span {
  padding-right: 1vw;
}

.hr hr {
  height: 5vh;
}

.money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
}

.balance {
  font-size: 1.25vh;
  color: #a0a0a0;
  font-family: 'Oswald', sans-serif;
}

.rub {
  font-family: 'Barlow', sans-serif;
  font-size: 2.5vh;
  font-weight: bold;
}

.buttons span {
  padding: 0;
}

.btns1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8vh;
}

.btn:hover {
  background: white;
  color: #03001a;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.btn {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5vh 2vw;
  margin-right: 1vw;
  border: 2px solid #919191d8;
  border-radius: 35px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.warning {
  -ms-flex-preferred-size: 18.2%;
      flex-basis: 18.2%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 1.5vh 2.2vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.2vh;
  font-weight: 500;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.warning span {
  padding: 0;
}

.warning:hover {
  background: white;
  color: #03001a;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.warning1 {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

.down {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  height: 100%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upleft {
  width: 100%;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car {
  width: 60%;
  height: 100%;
}

.stack {
  width: 38%;
  height: 101.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  border-radius: 5px;
  border: 3px solid #ffc400;
  -webkit-box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400;
          box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.form:hover {
  background-color: #ffc400;
}

.form:hover span {
  color: black;
}

.form:hover div {
  color: black;
}

.ticket {
  width: 100%;
  height: 46%;
  border-color: #5aa800;
  -webkit-box-shadow: 0 0 10px #5aa800, inset 0 0 10px #5aa800;
          box-shadow: 0 0 10px #5aa800, inset 0 0 10px #5aa800;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.ticket:hover {
  background-color: #5aa800;
}

.shop {
  width: 100%;
  height: 46%;
  border-color: #430396;
  -webkit-box-shadow: 0 0 5px #430396, inset 0 0 5px #430396;
          box-shadow: 0 0 5px #430396, inset 0 0 5px #430396;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.shop:hover {
  background-color: #430396;
}

.downleft {
  width: 100%;
  height: 28vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form1 {
  height: 100%;
  border: 3px solid #000000;
  border-radius: 5px;
}

.form1:hover {
  color: black;
}

.noob {
  width: 35%;
  border-color: #c48f00;
  -webkit-box-shadow: 0 0 10px #c48f00, inset 0 0 10px #c48f00;
          box-shadow: 0 0 10px #c48f00, inset 0 0 10px #c48f00;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.noob:hover {
  background-color: #c48f00;
}

.backpack {
  width: 35%;
  border-color: #b40803;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-shadow: 0 0 10px #b40803, inset 0 0 10px #b40803;
          box-shadow: 0 0 10px #b40803, inset 0 0 10px #b40803;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.backpack:hover {
  background-color: #ca0903;
}

.bptext {
  margin-top: 2.5vh;
  margin-left: 2vw;
  font-family: 'Rubik', sans-serif;
}

.bpname {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.5vh;
}

.bpstats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.3vh;
  margin-left: 2vw;
  margin-top: 5vh;
}

.bpscore {
  font-size: 2.1vh;
  font-family: 'Rubik', sans-serif;
}

.kd, .matchs {
  margin-top: 0.5vh;
}

.bpmaininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bpicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3vh;
  margin-left: 1.5vw;
}

.bpicons img {
  width: calc( 12vw + 9vh);
  height: auto;
}

.virt {
  width: 21%;
  border-color: #046e8f;
  -webkit-box-shadow: 0 0 5px #01b4eb, inset 0 0 5px #01b4eb;
          box-shadow: 0 0 5px #01b4eb, inset 0 0 5px #01b4eb;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.virt:hover {
  background-color: #046e8f;
}

.right {
  height: 100%;
  width: 23%;
  border: 3px solid #6e003c;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #6e003c, inset 0 0 10px #6e003c;
          box-shadow: 0 0 10px #6e003c, inset 0 0 10px #6e003c;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.right:hover {
  background-color: #6e003c;
}

.right:hover span {
  color: black;
}

.textcar {
  position: relative;
  left: 7%;
  top: 5vh;
  width: 93%;
}

.textcar1 {
  color: white;
  font-weight: 700;
  font-size: 5vh;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  line-height: 5vh;
}

.textcar2 {
  color: white;
  font-size: 4.5vh;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  letter-spacing: -2px;
  padding: 0;
}

.textcar3 {
  font-family: 'Rubik', sans-serif;
  position: relative;
  font-size: 2.7vh;
  letter-spacing: -1px;
  margin-left: 3%;
  bottom: 0.5vh;
  color: #000000;
  background-color: #fff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
}

.textcar4 {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  font-size: 1.5vh;
  color: white;
  right: 2vw;
  top: 1vh;
  width: 9vw;
}

.iconcar {
  width: 28vw;
  margin-top: 3%;
  margin-left: 5%;
}

.iconcar img {
  -webkit-filter: drop-shadow(12px 12px 10px #00000080);
          filter: drop-shadow(12px 12px 10px #00000080);
  width: calc( 22vw + 17vh);
  height: auto;
}

.textticket {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 13vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.textticket1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.textticket2 {
  font-family: 'Rubik', sans-serif;
}

.textticket3 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5vh;
}

.textticket4 {
  color: #0db130;
  font-size: 2.2vh;
}

.textticket5 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.2vh;
}

.textticket6 {
  color: #0db130;
}

.iconticket {
  position: relative;
  bottom: 18vh;
  left: 16.5vw;
  width: 10.5vw;
  height: 15vh;
}

.iconticket img {
  width: calc( 7.5vw + 5.3vh);
  height: auto;
}

.textshop {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4vh;
}

.textshop1 {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
}

.textshop2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.5vh;
}

.iconshop {
  position: relative;
  left: 13.5vw;
  bottom: 4vh;
  width: 13vw;
  height: 20vh;
}

.iconshop img {
  width: calc( 9.5vw + 6.3vh);
  height: auto;
}

.textnoob {
  color: white;
  position: relative;
  top: 3vh;
  left: 2vw;
  font-size: 3.5vh;
}

.textnoob1 {
  font-family: 'Rubik', sans-serif;
  display: block;
  line-height: 3.7vh;
}

.textnoob2 {
  font-family: 'Roboto Condensed', sans-serif;
}

.textnoob3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.7vh;
}

.textnoob4 {
  font-family: 'Roboto Condensed', sans-serif;
}

.noobbtn {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6vh;
  position: relative;
  top: 5vh;
  left: 3vh;
}

.minibtn {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border: 2px solid #747474;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-radius: 100px;
  line-height: 4.3vh;
}

.minibtn:hover {
  background: white;
  color: black;
}

.iconnoob {
  position: absolute;
  left: 13vw;
  bottom: 1vh;
}

.iconnoob img {
  -webkit-filter: drop-shadow(12px 12px 10px #00000080);
          filter: drop-shadow(12px 12px 10px #00000080);
  width: calc( 9vw + 6vh);
  height: auto;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headright {
  margin-top: 3vh;
  margin-left: 2vw;
  font-size: 3.7vh;
  color: white;
}

.headright1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.textright {
  font-size: 1.6vh;
  color: white;
  font-family: 'Rubik', sans-serif;
  margin-left: 2vw;
  margin-top: 1vh;
}

.textright .textright1 {
  line-height: 5vh;
  border: 2px solid #747474;
  padding: 0.5vh 2vh;
  border-radius: 100px;
}

.righticon {
  margin-left: 2.2vw;
}

.righticon img {
  width: calc( 16vw + 12.5vh);
  height: auto;
}
/*# sourceMappingURL=style.css.map */