@charset "UTF-8";
body {
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  margin: 0;
}

#body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#fade {
  opacity: 0;
}

h1 {
  color: white;
}

html {
  overflow: hidden;
}

.main {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.upper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.5vh;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.maininfo div, .maininfo span {
  padding-right: 1vw;
}

.hr hr {
  height: 5vh;
}

.money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
}

.balance {
  font-size: 1.25vh;
  color: #efefefea;
  font-family: 'Oswald', sans-serif;
}

.rub {
  font-family: 'Barlow', sans-serif;
  font-size: 2.5vh;
  font-weight: bold;
}

.buttons span {
  padding: 0;
}

.btns1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8vh;
}

.btn:hover {
  background: white;
  color: #03001a;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.btn {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5vh 2vw;
  margin-right: 1vw;
  border: 2px solid #e0e0e0;
  border-radius: 35px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.warning {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.2vh;
  font-weight: 500;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  margin-bottom: 1vh;
}

.warning span {
  padding: 0;
}

.warning1 {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

.down {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  height: 100%;
  -ms-flex-preferred-size: 72%;
      flex-basis: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upleft {
  width: 100%;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stack {
  -ms-flex-preferred-size: 37%;
      flex-basis: 37%;
  height: 45.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  border-radius: 5px;
  border: 3px solid #ffc400;
  -webkit-box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400;
          box-shadow: 0 0 10px #ffc400, inset 0 0 10px #ffc400;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  text-shadow: 1px 1px 2px #0000007e;
}

.form:hover {
  background-color: #ffc400;
  text-shadow: none;
}

.form:hover span {
  color: black;
}

.form:hover div {
  color: black;
}

.ticket {
  width: 100%;
  height: 21vh;
  border-color: #5aa800;
  -webkit-box-shadow: 0 0 10px #5aa800, inset 0 0 10px #5aa800;
          box-shadow: 0 0 10px #5aa800, inset 0 0 10px #5aa800;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.ticket:hover {
  background-color: #5aa800;
}

.ticketRed {
  border-color: #f70303;
  -webkit-box-shadow: 0 0 10px #a80000, inset 0 0 10px #a80000;
          box-shadow: 0 0 10px #a80000, inset 0 0 10px #a80000;
}

.ticketRed:hover {
  background-color: #f70303;
}

.shop {
  width: 100%;
  height: 21vh;
  border-color: #8700c5;
  -webkit-box-shadow: 0 0 5px #9200d6, inset 0 0 5px #8f00d1;
          box-shadow: 0 0 5px #9200d6, inset 0 0 5px #8f00d1;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.shop:hover {
  background-color: #8700c5;
}

.downleft {
  width: 100%;
  height: 28vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form1 {
  height: 100%;
  border: 3px solid #000000;
  border-radius: 5px;
  text-shadow: 1px 1px 2px #0000007e;
}

.form1:hover {
  color: black;
  text-shadow: none;
}

.noob {
  width: 35%;
  border-color: #c48f00;
  -webkit-box-shadow: 0 0 10px #c48f00, inset 0 0 10px #c48f00;
          box-shadow: 0 0 10px #c48f00, inset 0 0 10px #c48f00;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.noob:hover {
  background-color: #c48f00;
}

.noob:hover span {
  color: black;
}

.noobpart1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding: 1.4vw 0 1.4vw 1.5vw;
}

.noobpart2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.backpack {
  width: 35%;
  border-color: #b40803;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-shadow: 0 0 10px #b40803, inset 0 0 10px #b40803;
          box-shadow: 0 0 10px #b40803, inset 0 0 10px #b40803;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.backpack:hover {
  background-color: #fc0c04;
}

.rankContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.rankContent .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  font-size: 0.8vw;
}

.rankContent .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 7.5vw;
  width: 8vw;
  padding-right: 1vw;
}

.rankContent .img img {
  width: 100%;
  height: 100%;
  -webkit-filter: drop-shadow(0 0 10px #000000);
          filter: drop-shadow(0 0 10px #000000);
}

.bptext {
  margin-top: 2.5vh;
  margin-left: 2vw;
  font-family: 'Rubik', sans-serif;
}

.bpname {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.5vh;
}

.bpstats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3vw;
  margin-left: 2vw;
  margin-top: 4vh;
}

.bpstats1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bpscore {
  font-size: 1.3vw;
  font-family: 'Rubik', sans-serif;
}

.kd, .matchs {
  margin-top: 0.5vh;
}

.bpmaininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.virt {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border-color: #0092be;
  -webkit-box-shadow: 0 0 5px #00c3ff, inset 0 0 5px #00ace0;
          box-shadow: 0 0 5px #00c3ff, inset 0 0 5px #00ace0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.virtname {
  margin-top: 2.2vh;
  margin-left: 2vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.5vh;
}

.virttext {
  margin-top: 1vh;
  margin-left: 2vh;
  font-size: 1.4vh;
  font-family: 'Rubik', sans-serif;
}

.virt:hover {
  background-color: #0092be;
}

.virticon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: auto;
  top: 3vh;
}

.virticon img {
  -webkit-filter: drop-shadow(0px 0px 5px #000000d2);
          filter: drop-shadow(0px 0px 5px #000000d2);
  width: 15vw;
  height: auto;
}

.right {
  margin-left: 3vw;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-shadow: 1px 1px 2px #0000007e;
  border: 3px solid #00df64;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #00df64, inset 0 0 5px #00df64;
          box-shadow: 0 0 5px #00df64, inset 0 0 5px #00df64;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.right:hover {
  background-color: #00b150;
  text-shadow: none;
}

.right:hover span {
  color: black;
}

.rightNoHover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-shadow: 1px 1px 2px #0000007e;
  margin-left: 3vw;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 100%;
  border: 3px solid #00df64;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #00df64, inset 0 0 5px #00df64;
          box-shadow: 0 0 5px #00df64, inset 0 0 5px #00df64;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.rightNoHover h1 {
  padding: 0;
  margin: 0;
}

.btnbackperson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3vh;
  height: 8%;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.btnbackperson .minibtn {
  padding-top: 0vh;
  padding-bottom: 0vh;
}

.btnbackperson2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3vh;
}

.btnbackperson2 .minibtn {
  padding-top: 0vh;
  padding-bottom: 0vh;
}

.rightNoHover:hover {
  background-color: #00b15000;
  -webkit-box-shadow: 0 0 15px #00df64, inset 0 0 5px #00df64;
          box-shadow: 0 0 15px #00df64, inset 0 0 5px #00df64;
}

.car {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 100%;
}

.carContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
  margin-top: 5%;
}

.textcar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.textcar1 {
  color: white;
  font-weight: 700;
  font-size: 5vh;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  line-height: 5vh;
}

.textcar2 {
  color: white;
  font-size: 4.5vh;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  letter-spacing: -2px;
  padding: 0;
}

.textcar3 {
  font-family: 'Rubik', sans-serif;
  position: relative;
  font-size: 2.7vh;
  letter-spacing: -1px;
  margin-left: 3%;
  bottom: 0.5vh;
  color: #000000;
  background-color: #fff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  text-shadow: none;
}

.textcar4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5vh;
  color: white;
  padding-right: 1vw;
}

.iconcar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35vh;
}

.iconcar img {
  -webkit-filter: drop-shadow(12px 12px 10px #00000080);
          filter: drop-shadow(12px 12px 10px #00000080);
  height: auto;
  width: 30vw;
}

.textticket {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 13vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.textticket1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.textticket2 {
  font-family: 'Rubik', sans-serif;
}

.textticket3 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5vh;
}

.textticket4 {
  color: #00ff37;
  font-size: 2.2vh;
}

.textticketblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textticket5 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.2vh;
}

.textticket6 {
  color: #0db130;
}

.iconticket {
  position: relative;
  bottom: 18vh;
  left: 16.5vw;
  width: 10.5vw;
  height: 15vh;
}

.iconticket img {
  width: calc( 7.5vw + 5.3vh);
  height: auto;
}

.textshop {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4vh;
}

.textshop1 {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
}

.iconshop {
  position: relative;
  left: 13.5vw;
  bottom: 4vh;
  width: 13vw;
  height: 20vh;
}

.iconshop img {
  width: calc( 9.5vw + 6.3vh);
  height: auto;
}

.textnoob {
  color: white;
  font-size: 3.5vh;
}

.textnoob1 {
  font-family: 'Rubik', sans-serif;
  display: block;
  line-height: 3.7vh;
}

.textnoob2 {
  font-family: 'Roboto Condensed', sans-serif;
}

.textnoob3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6vh;
}

.textnoob4 {
  font-family: 'Roboto Condensed', sans-serif;
}

.noobbtn {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6vh;
}

.minibtn {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border: 1px solid #e0e0e0;
  padding: 0.3vh 2vh;
  border-radius: 11px;
  line-height: 4.3vh;
  font-size: 1.8vh;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.minibtn:hover {
  background: white;
  color: black;
}

.iconnoob {
  margin-top: auto;
  position: relative;
  top: 3vh;
}

.iconnoob img {
  -webkit-filter: drop-shadow(0px 0px 5px #000000d2);
          filter: drop-shadow(0px 0px 5px #000000d2);
  width: 12vw;
  height: auto;
}

.headright {
  margin-top: 3vh;
  margin-left: 2vw;
  font-size: 3.7vh;
  color: white;
}

.headright1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.textright {
  font-size: 1.6vh;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 2vw;
  margin-top: 1vh;
}

.textright .textright1 {
  line-height: 5vh;
  border: 2px solid #747474;
  padding: 0.5vh 2vh;
  border-radius: 100px;
}

.righticon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  left: 2vw;
}

.righticon img {
  width: 20vw;
  height: 55vh;
}

#cursor, #aura {
  position: absolute;
  border-radius: 100%;
  -webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
}

#cursor {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1);
          transform: scale(1);
}

#cursor.active {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#aura {
  width: 46px;
  height: 46px;
  border: 1px solid rgba(138, 138, 138, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-filter: drop-shadow(0 0 10px #00000080);
          filter: drop-shadow(0 0 10px #00000080);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

#aura.active {
  border: 1.2px solid rgba(255, 255, 255, 0.33);
  background-color: rgba(138, 138, 138, 0.4);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#aura.hidden,
#cursor.hidden {
  -webkit-transform: scale(0.001);
          transform: scale(0.001);
}

.mainsettings {
  width: 20vw;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-shadow: 1px 1px 2px #0000007e;
}

.settingsh1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 4.5vh;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkboxtest label {
  cursor: pointer;
  text-indent: -9999px;
  width: 3.3vw;
  height: 3.2vh;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.checkboxtest label:hover {
  cursor: none;
}

.checkboxtest label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 1.2vw;
  height: 2.3vh;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkboxtest input:checked + label {
  background: #055dff;
}

.checkboxtest input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.checkboxtest label:active:after {
  width: 1.5vw;
}

.checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkboxtest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Rubik', sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bindname {
  color: white;
}

.binds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2vh;
}

.bind {
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bindbtn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.2vh;
  border: 1px solid white;
  padding: 0.6vh 0.5vw;
  background-color: white;
  border-radius: 5px;
  text-shadow: 0px 0px 1px black;
}

.mapchoice1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.namechoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.8vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.mapchoice {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes click-wave {
  0% {
    height: 4vh;
    width: 4vh;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 20vh;
    width: 20vh;
    margin-left: -8vh;
    margin-top: -8vh;
    opacity: 0;
  }
}

@keyframes click-wave {
  0% {
    height: 4vh;
    width: 4vh;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 20vh;
    width: 20vh;
    margin-left: -8vh;
    margin-top: -8vh;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4vh;
  width: 2.2vw;
  -webkit-transition: all .35s ease-out 0s;
  transition: all .35s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
  cursor: none;
}

.option-input:checked {
  background: #036de6;
}

.option-input:checked::before {
  height: 4vh;
  width: 2.2vw;
  position: absolute;
  content: '✔';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5vh;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

.mapchoice div {
  padding: 5rem;
}

.mapchoice label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

.mapchoice label span {
  margin-top: 1vh;
  margin-left: 50%;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

.btnback {
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnback a {
  font-size: 2vh;
  border-radius: 5px;
  padding: 1vh 1.7vw;
  background-color: #fff;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: none;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: none;
  -webkit-box-shadow: 0px 0px 15px #ffffff;
          box-shadow: 0px 0px 15px #ffffff;
}

.mainauto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.switchauto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrowleft {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #0076fc;
  -webkit-filter: drop-shadow(0 0 5px #0076fc);
          filter: drop-shadow(0 0 5px #0076fc);
  margin-right: 2vw;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

.arrowright {
  fill: #0076fc;
  -webkit-filter: drop-shadow(0 0 5px #0076fc);
          filter: drop-shadow(0 0 5px #0076fc);
  margin-left: 2vw;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

.arrowright svg, .arrowleft svg {
  -webkit-transition: .05s ease-out;
  transition: .05s ease-out;
}

.arrowleft:hover, .arrowright:hover {
  fill: #00a2ff;
  -webkit-filter: drop-shadow(0 0 3px #00a2ff);
          filter: drop-shadow(0 0 3px #00a2ff);
}

.arrowleft:active svg, .arrowright:active svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.nameauto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: white;
  width: 9vw;
  height: 4vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3vh;
}

.btnback2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btnback2 a {
  font-size: 1.7vh;
  border-radius: 6px;
  padding: 0vh 1vw;
  line-height: 4.3vh;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: none;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.btnOnlyBorder {
  background-color: #ffffff00;
  border: 1px solid white;
  color: #fff;
}

.btnBackGround {
  background-color: #ffffff;
  color: black;
}

.contentlobbyfriends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mainfrineds {
  width: 25vw;
  left: 50%;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-shadow: 1px 1px 2px #0000007e;
}

.friendsh1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2.5vh;
  margin-top: 2vh;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.btnfriends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #fff;
  font: 2vh "Roboto Condensed", sans-serif;
}

.btnfriends div {
  padding: 1%;
  border-radius: 10px;
  border: 2px solid white;
}

.btnfriends div:hover {
  background-color: #fff;
  color: black;
}

.rectangle {
  counter-reset: li;
  list-style: none;
  font: 1.9vh "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.rectangle a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  margin: 0.5em 0 0.5em 2.5em;
  color: white;
  text-decoration: none;
}

.rectangle a:hover {
  background: #dcdde159;
}

.rectangle a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #fd8f00ec;
  border-radius: 3px;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.rectangle a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -0.5em;
}

.rectangle a:hover:after {
  left: -0.5em;
  border-left-color: #fd8f00ec;
}

.vidzapros {
  color: white;
  font: 1.9vh "Roboto Condensed", "Lucida Sans";
  border-bottom: 1px solid white;
}

.zaprosi {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 0.5vw;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  overflow-y: auto;
  overflow-x: none;
}

.zapros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2vh;
  border-radius: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.zapros:hover {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background: #00000077;
}

.avatarnickzapros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btnszapros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btnzapros {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0.2vh;
  margin-right: 0.7vw;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.btnzapros img {
  width: 1.2vw;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.btnzapros:hover img {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.profileDetails {
  -webkit-transform: translateX(1vw);
          transform: translateX(1vw);
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.nickzapros {
  font: 2vh "Trebuchet MS", "Lucida Sans";
  color: white;
  margin-left: 0.5vw;
}

.avatarzapros {
  width: 2.1vw;
  height: 2.1vw;
}

.avatarzapros img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.zaprosi::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.zaprosi::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #ffffff83;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.inputaddfriends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2vh;
  height: 25%;
  margin-bottom: 2vh;
}

.inputaddfriends h1 {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.inputaddfriends input {
  border: none;
  height: 3.2vh;
  width: 8vw;
  border-radius: 10px;
  background-color: #0000006c;
  color: white;
  font: 2vh "Trebuchet MS", "Lucida Sans";
  padding: 0 3% 0 3%;
  letter-spacing: 3px;
  text-align: center;
}

.inputaddfriends input:focus {
  outline: 0;
  outline-offset: 0;
}

.mainlobby {
  width: 100%;
  text-shadow: 1px 1px 2px #0000007e;
}

.sectionslobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font: 0.7vw "Trebuchet MS", "Lucida Sans";
}

.sectionlobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borderlobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5vh;
  width: 5vh;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.borderlobby img {
  width: 100%;
  height: auto;
}

.borderlobby:hover {
  border-color: #01dbf8;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.ava img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.crownimg {
  width: 1.5vw;
  margin-bottom: 1vh;
}

.crownimg img {
  width: 100%;
  height: auto;
}

.ava:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.ready {
  margin-bottom: 2vh;
  color: #39ff1f;
}

.readynot {
  color: #ff1e1e;
}

.nicklobby {
  margin-top: 1.2vh;
}

.person-friend-enter, .person-friend-leave-to {
  -webkit-transition: 1.8s;
  transition: 1.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.person-friend-leave-active {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.person-friend2-enter, .person-friend2-leave-to {
  -webkit-transition: 1.8s;
  transition: 1.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.person-friend2-leave-active {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.list-complete-leave-active {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  position: absolute;
}

.list-complete-item {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.switchcustom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4vw;
  height: 60vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 40vh;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  left: 15vw;
}

.customelement {
  width: 100%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.customelement img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.customelement:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sandwiches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 17vh;
}

.sandwichcustom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrowleftcustom {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #ffffff;
  -webkit-filter: drop-shadow(0 0 5px #ffffff8e);
          filter: drop-shadow(0 0 5px #ffffff8e);
  margin-right: 1vw;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

.arrowrightcustom {
  fill: #ffffff;
  -webkit-filter: drop-shadow(0 0 5px #ffffff8e);
          filter: drop-shadow(0 0 5px #ffffff8e);
  margin-left: 1vw;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

.arrowrightcustom svg, .arrowleftcustom svg {
  -webkit-transition: .05s ease-out;
  transition: .05s ease-out;
}

.arrowleftcustom:hover, .arrowrightcustom:hover {
  fill: #00a2ff;
  -webkit-filter: drop-shadow(0 0 3px #00a2ff);
          filter: drop-shadow(0 0 3px #00a2ff);
}

.arrowleftcustom:active svg, .arrowrightcustom:active svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.namecustom {
  border: 1px solid #ffffff;
  border-radius: 1vh;
  color: white;
  padding: 0.5vw 1.9vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5vh;
  -webkit-filter: drop-shadow(0 0 1px #fff);
          filter: drop-shadow(0 0 1px #fff);
  -webkit-box-shadow: 0px 0px 3px #ffffff;
          box-shadow: 0px 0px 3px #ffffff;
}

.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: drop-shadow(0 0 10px #43fca6);
          filter: drop-shadow(0 0 10px #43fca6);
}

.sandwich2 {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
/*# sourceMappingURL=style.css.map */