@font-face {
    font-family: "Graffiti"; 
    src: url("../fonts/13891.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }  

html {
    overflow-x:hidden;
    overflow-y:hidden; 
}

h1 {
    margin: 0;
}

body {
    color: #ebebeb; 
    font-family: Oswald, serif;
    font-weight: lighter;
    /* background-color: rgb(146, 145, 145);   */
    /* background-color: rgb(226, 224, 255); */
    /* background-color: rgb(148, 148, 148);  */
    /* background-image: url(/hud//img/test.jpg); */
    /* background-image: url(/hud//img/bg.jpg);  */
}

#fade { 
    opacity: 0;
}

.warmInfo {
  display: flex;
  justify-content: center;
  margin-top: 8vh;  
}

.warmInfo h1 {
  backdrop-filter: blur(5px);  
  background-color: rgba(0, 0, 0, 0.199);
  color: #ebebeb;
  font-family: Oswald, serif;
  align-items: center;
  font-size: 1.9vh;  
  padding: 0.2vh 1.4vw; 
  border-radius: 0.9em 0.5em;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 0, 0);
  text-shadow: 0 0 1px black, 0 0 0.2em black;
}

.hud{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.playersInfo {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* margin-right: 6.5vw; */
    /* margin-top: 0.9vh; */
    flex-wrap: nowrap;
}

.alive {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    color: #ebebebcc;
    font-family: Oswald, serif;
    align-items: center;
    font-size: 2.0vh;
    padding-left: 2vw;
}

#alive {
    /*padding: 0.05%;*/
    /*padding-left: 0.4%;*/
    /*padding-right: 0.4%;*/
    display: flex;
    align-items: center;
    padding: 0.1vh 0.7vw;
}

.numberAlive {
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 5px 0 0 15px;
    font-weight: bold;
    /* display: inline-block; */
    height: 2.9vh;
}

.textAlive {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    border-radius: 0 15px 5px 0;
    color: #ebebeb9a;
    height: 2.9vh;
}

.textAlive img {
  height: 100%;
  width: auto;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.226));
}

.killInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 128, 0, 0.24); */
    margin-top: 78vh;
}


.killInfo img {
    position: absolute;
    margin-bottom: 3%; 
    margin-left: 5%; 
    width: 20%;
    z-index: -3;
    filter: blur(0.5px); 
}

#killInfo {
    text-shadow: 0 0 1px black, 0 0 0.2em black;
    font-size: 1.8vh;
}

.kills {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.killTextplayer {
    color: orange;
    border-bottom: 3px solid orange;
    text-shadow: 0 0 1px black, 0 0 0.2em orange;
}

.killsnumber {
    font-size: 8vh;
    font-family: Graffiti; 
    color: #ecab27;
    text-shadow: 0 0 2px black, 0 0 0.2em #edb84e;
}

.killText2 {
    margin-top: -10%;
}

.logoLoad {
  position: absolute;
  width: 100%;
  height: 35vh;
  top: 15vh;
  margin: 0;
  padding: 0;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  text-shadow: 0 0 1px black, 0 0 1.2em rgb(0, 0, 0);
}

#logo {
    width: 20vw;
    height: auto;
}

.observer {
  flex-direction: row;
  margin-top: 0;
  /* background-color: red;  */
}

.obsContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 3.5em 1em 3.5em 1em;
    padding: 1.2vh 1.4vw; 
    align-items: center;
    align-self: center;
    align-content: center;
}


.obsCenter {
    display: flex;
    align-items: center;
    color: #ebebeb;
    font-family: Oswald;
    border-radius: 7%;
    background-color: rgba(0, 0, 0, 0.623);
}

.obsCenter .avatar {
    width: 5vw;
    height: 5vw; 
    border-radius: 12%;
}

.obsTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-shadow: 1px 1px 1px #0000007e;
    width: 6.6vw;
    margin-left: 0.5vw;
}

.obsTexts h1 {
    font-size: 1.4vw;
}

.obsCenter .kills {
    display: flex;
    flex-direction: row;
}

.obsCenter .kills h1 {
    font-size: 1vw;
    padding-left: 0.1vw;
}

.obsCenter .kills img {
    width: 1.3vw;
}

.obsCenter .level {
    width: 2vw; 
    height: 2vw; 
    position: absolute;
    top: -1.2vh;
    /* left: 43.55vw; */
    left: calc(42vw + 3vh);
}

.obsCenter .vip {
    width: 2vw; 
    height: 2vw; 
    position: absolute;
    top: -2vh;
    left: calc(53.9vw + 3vh);
    transform: rotate(15deg);
}


/* .observer .obsKills {
    font-size: 1.1vh;  
}

.observer h1 {
    color: #ebebeb;
    font-family: Oswald, serif;
    align-items: center; 
    font-size: 1.7vh;  
}

.observer .level {
    width: 2vw; 
    height: 2vw; 
    position: absolute;
    top: -1.7vh;
    right: -1.1vw;
} 

.observer .vip {
    width: 1.5vw; 
    height: 1.5vw; 
    position: absolute;
    top: 4.5vh;
    right: 7.9vw;
    filter: drop-shadow(0 0 1px #ecfd0033);
} 

.observer .avatar {
    align-items: center;
    width: 2.5vw; 
    height: 2.5vw; 
    border-radius: 50%;
}  */

.helpObServer {

    /* background-color: blue; */
    /* position: absolute;
    top: 25vh;
    right: 0.5vw; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ebebeb;
    font-family: Oswald, serif;
    margin-left: 95vw;
}
 
p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.subHelpOBS {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1vw;
}

.subHelpOBS div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0);
    font-size: 1.5vh;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 0 0.4vw 0 0;  
    border-radius: 4.5em;
    margin-top: 1vh;
}

.key {
    margin-right: 0.3vw;
    background-color: rgba(0, 0, 0, 0.295);
    padding: 0.2vh 0.4vw; 
    border-radius: 4.5em;
    text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);
}

.textHelp {
    opacity: 0.7;
}

#column2 {
    margin-top: 1vh;
    justify-content: flex-end;
}

.numberTime {
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 5px 0 0 15px;
    font-weight: bold;
    /* display: inline-block; */
    height: 2.9vh;
    padding: 0.2vh 0.5vw;
    display: flex;
    align-items: center;
    font-size: 1.8vh;
}

.textTime {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    border-radius: 0 15px 5px 0;
    color: #ebebeb9a;
    height: 2.9vh;
    padding: 0.2vh 0.7vw;
    display: flex;
    align-items: center;
}

.textTime img {
    height: 100%; 
    width: auto;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.226));
  }

.killfeed {
    display: flex;
    justify-content: flex-end;
    color: #5adf01f3;
    text-shadow: 0 0 1px rgb(255, 0, 0), 0 0 1px rgb(0, 0, 0);
    padding-top: 2vh;
}

.killelement {
    backdrop-filter: blur(10px);
    z-index: -3;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 0, 0);
    border-radius: 5px 15px 5px 15px;
    padding: 0.3vh 0.5vw;
}

.killElementText {
    z-index: 1;
}

.help {

    /* background-color: blue; */
    /* /* position: absolute; */
    /* top: 25vh; */
    position: absolute; 
    right: 0.1vw; 
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ebebeb;
    font-family: Oswald, serif;
    /* margin-top: 60vh; */
}
 
p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.subHelp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1vw;
}

.subHelp div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0);
    font-size: 1.5vh;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 0 0.4vw 0 0;  
    border-radius: 1.5em;
    margin-top: 1vh;
    backdrop-filter: blur(10px);
}

.subHelp .key {
    display: flex;
    align-items: center;
    height: 7vh;
    margin-right: 0.3vw;
    background-color: rgba(0, 0, 0, 0.295);
    padding: 0.2vh 0.4vw; 
    border-radius: 1.5em;
    text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);
}

.subHelp img {
    height: 100%;
    width: auto;
}

.subHelp #plus {
    height: 20%;
    padding: 0 0.5vw;
    width: auto;
}

.textHelp {
    opacity: 0.7;
}
 
/* #pcMouse {
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.226)); 
} */

.center {
    position: absolute;
    /* top: 10%; */ 
    left: 50%; 
    transform: translate(-50%, 0%);
}

.observer  {
    position: absolute;
    top: 20%;
    left: 50%; 
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 128, 0, 0.24); */
    margin-top: 60vh;
}

.list-complete-enter, .list-complete-leave-to
{
    opacity: 0;
    transform: translateY(100px);
}
.list-complete-leave-active
{
    transform: translateY(-100px);
    /* position: absolute; */
}

.list-complete-item
{
    transition: all 0.8s;
} 