<html>
<meta charset="utf-8">
<link rel="stylesheet" href="ch.css">
<script src="../vue.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

<body>
	<div id="app">
		<div class="b1">
			<div class="contentb1">
				<div class="switchcustom">
					<div class="customelement" :class="{active: (currentTitle === 'Hats')}" @click="showHats">
						<img src="./img/shapka.png" alt="">
					</div>
					<div class="customelement" :class="{active: (currentTitle === 'Glasses')}" @click="showGlasses">
						<img src="./img/oki.png" alt="">
					</div>
					<div class="customelement" :class="{active: (currentTitle === 'Tops')}" @click="showTops">
						<img src="./img/topi.png" alt="">
					</div>
					<div class="customelement" :class="{active: (currentTitle === 'Legs')}" @click="showLegs">
						<img src="./img/shtani.png" alt="">
					</div>
					<div class="customelement" :class="{active: (currentTitle === 'Feet')}" @click="showFeet">
						<img src="./img/boti.png" alt="">
					</div>
				</div>
				<div class="sandwiches" v-if="currentTitle">
					<div class="sandwichcustom">
						<div class="arrowleftcustom" @click="prevColor">
							<img src="./img/arrowLeft.png" width="30vw">
						</div>
						<div class="namecustom">
							<div class="textnamecustom">{{ colorText }} {{ currentCloth.color }}</div>
						</div>
						<div class="arrowrightcustom" @click="nextColor">
							<img src="./img/arrowRight.png" width="30vw">
						</div>
					</div>
					<div class="sandwichcustom">
						<div class="arrowleftcustom" @click="prevCloth">
							<img src="./img/arrowLeft.png" width="30vw">
						</div>
						<div class="namecustom">
							<div class="textnamecustom">{{ currentCloth.name }}</div>
						</div>
						<div class="arrowrightcustom" @click="nextCloth">
							<img src="./img/arrowRight.png" width="30vw">
						</div>
					</div>
					<div class="sandwichcustom" v-if="currentTitle === 'Tops'">
						<div class="arrowleftcustom" @click="prevUnderColor">
							<img src="./img/arrowLeft.png" width="30vw">
						</div>
						<div class="namecustom">
							<div class="textnamecustom">{{ underColorText }}</div>
						</div>
						<div class="arrowrightcustom" @click="nextUnderColor">
							<img src="./img/arrowRight.png" width="30vw">
						</div>
					</div>
				</div>
				<div class="btns">
					<div class="btn btnbuy" @click="buy" v-if="currentTitle">
						<a href="#">{{ buyText }} {{ showPrice() }}</a>
					</div>
					<div class="btn" @click="reset">
						<a href="#">{{ resetText }}</a>
					</div>
					<div class="btn btnclose" @click="exit">
						<a href="#">{{ exitText }} </a>
					</div>
				</div>
			</div>
		</div>
		<div class="rotation">
			<input @input="changeCamRotation" max="360" min="-180" step="1" type="range" v-model.number="camRotation">
		</div>
	</div>
</body>

</html>


<script>
	const app = new Vue({
		el: '#app',
		data: {
			camRotation: 180,
			hats: false,
			glasses: false,
			tops: false,
			legs: false,
			feet: false,

			// currentTitle: false,
			currentTitle: 'Tops',
			currentArr: false,
			currentNum: false,
			currentColorNum: 0,
			currentUnderColorNum: 0,
			currentCloth: false,

			titleText: "Clothing Store",
			hatsText: "Hats",
			glassesText: "Glasses",
			topsText: "Tops",
			legsText: "Legs",
			feetText: "Feet",
			colorText: "Color:",
			underColorText: "Undershirt Color",
			buyText: "Buy for",
			resetText: "Reset All",
			exitText: "Exit",


		},
		methods: {
			prettify: function (num) {
				let n = num.toString();
				const separator = " ";
				return n.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + separator);
			},
			showPrice: function () {
				return this.currentCloth.price;
			},

			load: function () {
				alt.emit('emitToClient', 'cChangeHeading', this.camRotation);
			},



			setCurrentStartSettings: function () {
				this.currentNum = 0;
				this.currentCloth = this.currentArr[0];
				this.currentCloth.color = this.currentCloth.colors[0];
				this.setColor(0);
				if (this.currentTitle === "Tops") this.setUnderColor(0);
				alt.emit('emitToClient', 'cClothing:SetCamera', this.currentTitle)
			},
			showHats: function () {
				this.currentTitle = "Hats";
				this.currentArr = this.hats;
				this.setCurrentStartSettings();
			},
			showGlasses: function () {
				this.currentTitle = "Glasses";
				this.currentArr = this.glasses;
				this.setCurrentStartSettings();
			},
			showTops: function () {
				this.currentTitle = "Tops";
				this.currentArr = this.tops;
				this.setCurrentStartSettings();
			},
			showLegs: function () {
				this.currentTitle = "Legs";
				this.currentArr = this.legs;
				this.setCurrentStartSettings();
			},
			showFeet: function () {
				this.currentTitle = "Feet";
				this.currentArr = this.feet;
				this.setCurrentStartSettings();
			},



			setCurrentCloth: function (num) {
				this.currentNum = num;
				this.currentCloth = this.currentArr[num];
				this.setColor(0);
				if (this.currentTitle === "Tops") this.setUnderColor(0);
				this.setClothToPlayer();
			},
			nextCloth: function () {
				if (this.currentNum === this.currentArr.length - 1) return this.setCurrentCloth(0);
				this.setCurrentCloth(++this.currentNum);
			},
			prevCloth: function () {
				if (this.currentNum === 0) return this.setCurrentCloth(this.currentArr.length - 1);
				this.setCurrentCloth(--this.currentNum);
			},



			setColor: function (num) {
				this.currentColorNum = num;
				this.currentCloth.color = this.currentCloth.colors[num];
				this.setClothToPlayer();
			},
			nextColor: function () {
				if (this.currentColorNum === this.currentCloth.colors.length - 1) {
					return this.setColor(0);
				}
				this.setColor(++this.currentColorNum);
			},
			prevColor: function () {
				if (this.currentColorNum === 0) {
					return this.setColor(this.currentCloth.colors.length - 1);
				}
				this.setColor(--this.currentColorNum);
			},



			setUnderColor: function (num) {
				this.currentUnderColorNum = num;
				this.currentCloth.underColor = this.currentCloth.underColors[num];
				this.setClothToPlayer();
			},
			nextUnderColor: function () {
				if (this.currentUnderColorNum === this.currentCloth.underColors.length - 1) {
					return this.setUnderColor(0);
				}
				this.setUnderColor(++this.currentUnderColorNum);
			},
			prevUnderColor: function () {
				if (this.currentUnderColorNum === 0) {
					return this.setUnderColor(this.currentCloth.underColors.length - 1);
				}
				this.setUnderColor(--this.currentUnderColorNum);
			},

			buy: function () {
				const obj = {
					title: this.currentTitle,
					number: this.currentNum,
					color: this.currentCloth.color,
					underColor: this.currentCloth.underColor,
				}
				alt.emit('emitToServer', 'sClothing:buy', obj);
			},

			reset: function () {
				this.currentTitle = false;
				alt.emit('emitToClient', 'cClothing:SetCamera', this.currentTitle)
				alt.emit('emitToServer', 'sClothing:reloadClothes');
			},
			changeCamRotation: function () {
				// console.log(this.camRotation) 
				alt.emit('emitToClient', 'cChangeHeading', this.camRotation);
			},
			exit: function () {
				alt.emit('emitToClient', 'cCloseCEF');
				alt.emit('emitToClient', 'cClothing:close');
				alt.emit('emitToServer', 'sClothing:close');
			},

			setClothToPlayer: function () {
				const obj = {
					id: this.currentCloth.id,
					title: this.currentTitle,
					number: this.currentNum,
					color: this.currentCloth.color,
					underColor: this.currentCloth.underColor,
					torso: this.currentCloth.torso,
					undershirt: this.currentCloth.undershirt,
				}
				alt.emit('emitToClient', 'cClothing:setClothes', obj);
			},
		}
	});

	function loadMans() {
		app.hats = [{
				id: 8,
				name: "Without Hat",
				color: 0,
				colors: [0],
				price: 0,
			},
			{
				id: 2,
				name: "Cap",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7],
				price: 500,
			},
			{
				id: 3,
				name: "Panama",
				color: 0,
				colors: [1, 2],
				price: 600,
			},
			{
				id: 4,
				name: "LS Cap",
				color: 0,
				colors: [0, 1],
				price: 1000,
			},
			{
				id: 5,
				name: "Cap",
				color: 0,
				colors: [0, 1],
				price: 500,
			},
			{
				id: 6,
				name: "Army Cap",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7],
				price: 700,
			},
		];

		app.glasses = [{
				id: 0,
				name: "Without Glasses",
				color: 0,
				colors: [0],
				price: 0,
			},
			{
				id: 1,
				name: "Glasses №1",
				color: 0,
				colors: [1],
				price: 500,
			},
			{
				id: 2,
				name: "Glasses №2",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
				price: 450,
			},
		];

		app.tops = [{
				id: 0,
				name: "Simple T-Shirt",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 7, 8, 11],
				price: 650,
				torso: 0,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 1,
				name: "Simple T-Shirt",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14],
				price: 550,
				torso: 0,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 5,
				name: "Undershirt",
				color: 0,
				colors: [0, 1, 2, 7],
				price: 350,
				torso: 5,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 8,
				name: "Shirt",
				color: 0,
				colors: [0, 10, 13, 14],
				price: 700,
				torso: 8,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 13,
				name: "Shirt",
				color: 0,
				colors: [0, 1, 2, 3, 5, 13],
				price: 800,
				torso: 11,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 14,
				name: "Shirt",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 950,
				torso: 12,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 16,
				name: "T-Shirt",
				color: 0,
				colors: [0, 1, 2],
				price: 600,
				torso: 0,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 17,
				name: "Undershirt",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5],
				price: 700,
				torso: 5,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 18,
				name: "Colored Shirt",
				color: 0,
				colors: [0, 1, 2, 3],
				price: 900,
				torso: 0,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
		]

		app.legs = [{
				id: 0,
				name: "Fit Jeans",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 750,
			},
			{
				id: 1,
				name: "Wide Jeans",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 1000,
			},
			{
				id: 3,
				name: "Jogging",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 1000,
			},
			{
				id: 4,
				name: "Fit Jeans",
				color: 0,
				colors: [0, 1, 2, 3, 4],
				price: 1000,
			},
		];

		app.feet = [{
				id: 1,
				name: "Sneakers",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 600,
			},
			{
				id: 3,
				name: "Sneakers",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 550,
			},
			{
				id: 4,
				name: "High Sneakers",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 500,
			},
			{
				id: 5,
				name: "Bedroom Slippers",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 400,
			},
		];
	}


	function loadWomans() {
		app.hats = [{
				id: 57,
				name: "Without Hat",
				color: 0,
				colors: [0],
				price: 0,
			},
			{
				id: 27,
				name: "Test",
				color: 0,
				colors: [0],
				price: 0,
			},
			{
				id: 23,
				name: "Test",
				color: 0,
				colors: [0],
				price: 0,
			},
			{
				id: 14,
				name: "Test",
				color: 0,
				colors: [0],
				price: 0,
			},
			{
				id: 6,
				name: "Test",
				color: 0,
				colors: [0],
				price: 0,
			},
		];

		app.glasses = [{
				id: 13,
				name: "Without Glasses",
				color: 0,
				colors: [0],
				price: 0,
			},
			{
				id: 0,
				name: "Glasses №1",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
				price: 500,
			},
			{
				id: 21,
				name: "Glasses №2",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
				price: 450,
			},
		];

		app.tops = [{
				id: 0,
				name: "Simple T-Shirt",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 500,
				torso: 0,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 2,
				name: "Simple T-Shirt",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 650,
				torso: 2,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 3,
				name: " Jersey",
				color: 0,
				colors: [0, 1, 2, 3, 4, 10, 11, 12, 13, 14],
				price: 750,
				torso: 3,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 4,
				name: " Sport Undershirt",
				color: 0,
				colors: [13, 14],
				price: 450,
				torso: 4,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},
			{
				id: 5,
				name: " Sport Undershirt",
				color: 0,
				colors: [0, 1, 7, 9],
				price: 450,
				torso: 4,
				undershirt: 15,
				underColor: 0,
				underColors: [0],
			},

		];

		app.legs = [{
				id: 0,
				name: "Fit Jeans",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 750,
			},
			{
				id: 1,
				name: "Wide Jeans",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 1000,
			},
		];

		app.feet = [{
				id: 1,
				name: "Shoes",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 800,
			},
			{
				id: 2,
				name: "Sneakers",
				color: 0,
				colors: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
				price: 550,
			},
		];
	}

	app.load();


	function loadRusLang() {
		app.titleText = "Магазин одежды";
		app.hatsText = "Головные уборы";
		app.glassesText = "Очки";
		app.topsText = "Верхняя одежда";
		app.legsText = "Брюки";
		app.feetText = "Обувь";
		app.colorText = "Цвет";
		app.underColorText = "Цвет-2";
		app.buyText = "Купить за";
		app.resetText = "Сбросить все";
		app.exitText = "Выход";
	}

	if ('alt' in window) {
		alt.on('setSex', sex => {
			console.log(`sex: ${sex}`)
			if (sex) loadMans();
			else loadWomans();
		})

		alt.on('setLang', lang => {
			console.log(`lang: ${lang}`)
			if (lang === 'ru') loadRusLang();
		})
	}
</script>